<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>throne_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{588,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,340}}</string>
                <key>sourceSize</key>
                <string>{588,340}</string>
            </dict>
            <key>throne_tower_304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,350},{588,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,415}}</string>
                <key>sourceSize</key>
                <string>{588,415}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_304.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffb725b9f41e06f795d3d19426c6966:1/1$</string>
            <key>textureFileName</key>
            <string>Common_304.pvr.ccz</string>
        </dict>
    </dict>
</plist>
