<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57040_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>activity_57040_list_cell_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{138,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,156}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_57040.pvr.ccz</string>
            <key>size</key>
            <string>{792,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85adf1af0e39813e119a81f621d30c1:1/1$</string>
            <key>textureFileName</key>
            <string>activity_57040.pvr.ccz</string>
        </dict>
    </dict>
</plist>
