<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57044_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,369}}</string>
                <key>sourceSize</key>
                <string>{640,369}</string>
            </dict>
            <key>activity_57044_list_cell_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,160}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_57044.pvr.ccz</string>
            <key>size</key>
            <string>{792,377}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55800c5f274c519fe8260f5b88d6b60c:1/1$</string>
            <key>textureFileName</key>
            <string>activity_57044.pvr.ccz</string>
        </dict>
    </dict>
</plist>
