<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57050_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,368}}</string>
                <key>sourceSize</key>
                <string>{640,368}</string>
            </dict>
            <key>activity_57050_list_cell_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{136,142}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{136,142}}</string>
                <key>sourceSize</key>
                <string>{138,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_57050.pvr.ccz</string>
            <key>size</key>
            <string>{790,376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fe5eeec5172f3333e3aaca143badc5e:1/1$</string>
            <key>textureFileName</key>
            <string>activity_57050.pvr.ccz</string>
        </dict>
    </dict>
</plist>
