<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57023_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,360}}</string>
                <key>sourceSize</key>
                <string>{640,360}</string>
            </dict>
            <key>activity_57023_list_cell_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,4},{135,150}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,150}}</string>
                <key>sourceSize</key>
                <string>{135,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_57023.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae15784e7a983eed04327600356d2aec:1/1$</string>
            <key>textureFileName</key>
            <string>activity_57023.pvr.ccz</string>
        </dict>
    </dict>
</plist>
