<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57022_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>activity_57022_list_cell_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,4},{138,145}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{138,145}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_57022.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5689857ec637ab1d444e9761001cb990:1/1$</string>
            <key>textureFileName</key>
            <string>activity_57022.pvr.ccz</string>
        </dict>
    </dict>
</plist>
