<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advHotBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,342},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>advHotBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,256},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>advMoney06.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,294},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>advbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,256},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>advlihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,294},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>build_kingdom_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{616,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,246}}</string>
                <key>sourceSize</key>
                <string>{616,246}</string>
            </dict>
            <key>exchange_advbtnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,294},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>new_adv_anniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,294},{190,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,54}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>new_adv_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,294},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>xiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,4},{524,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,284}}</string>
                <key>sourceSize</key>
                <string>{524,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>build_kingdomadv.pvr.ccz</string>
            <key>size</key>
            <string>{1154,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9cb9a53a99a25f8d7f4ac00ef5c1ca1:1/1$</string>
            <key>textureFileName</key>
            <string>build_kingdomadv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
