<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shengdanlibao_ditu_aaaa.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,73}}</string>
                <key>sourceSize</key>
                <string>{100,73}</string>
            </dict>
            <key>shengdanlibao_xueren_bbbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,4},{66,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,90}}</string>
                <key>sourceSize</key>
                <string>{66,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Christmas_gifticon.pvr.ccz</string>
            <key>size</key>
            <string>{204,81}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dccaec6d49825250b9879b20c926da4b:1/1$</string>
            <key>textureFileName</key>
            <string>Christmas_gifticon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
