<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>couponbook_rukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{109,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,82}}</string>
                <key>sourceSize</key>
                <string>{109,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>couponbook_gstaricon.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7afc2a49199434249db8b3a8b565dd0f:1/1$</string>
            <key>textureFileName</key>
            <string>couponbook_gstaricon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
