<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>couponbook_bianzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,221},{52,584}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{52,584}}</string>
                <key>sourceSize</key>
                <string>{56,586}</string>
            </dict>
            <key>couponbook_biaotitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{630,257}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{630,257}}</string>
                <key>sourceSize</key>
                <string>{632,259}</string>
            </dict>
            <key>couponbook_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,4},{243,346}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,346}}</string>
                <key>sourceSize</key>
                <string>{243,346}</string>
            </dict>
            <key>couponbook_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,4},{583,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,113}}</string>
                <key>sourceSize</key>
                <string>{583,113}</string>
            </dict>
            <key>couponbook_zhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,4},{151,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,326}}</string>
                <key>sourceSize</key>
                <string>{151,326}</string>
            </dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1719,161},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_btnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,161},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,161},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,161},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{1456,123},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,123},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,253},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>couponbook_gstar.pvr.ccz</string>
            <key>size</key>
            <string>{1911,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fab8d340b2c741d2593e27d2083f91e4:1/1$</string>
            <key>textureFileName</key>
            <string>couponbook_gstar.pvr.ccz</string>
        </dict>
    </dict>
</plist>
