<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Effect_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,4},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_00160.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,4},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01640.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,4},{56,42}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{56,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Effect_01770.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,4},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Singapore_huoju_Double_the_Joy.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,4},{51,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,93}}</string>
                <key>sourceSize</key>
                <string>{51,93}</string>
            </dict>
            <key>Singapore_qianjing_Double_the_Joy.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{115,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,67}}</string>
                <key>sourceSize</key>
                <string>{115,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Double_the_Joyicon.pvr.ccz</string>
            <key>size</key>
            <string>{480,75}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e03fade914e58d2d161743787c4a8d0a:1/1$</string>
            <key>textureFileName</key>
            <string>Double_the_Joyicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
