<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,150},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>Egg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,4},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>Egg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,88},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>Egg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,88},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>Egg_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,150},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>Egg_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{78,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,65}}</string>
                <key>sourceSize</key>
                <string>{78,65}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>eastericon.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:183652b2521f3a0bd789001a5d215116:15a84df744ca2851003c196e10696154:24812e2df84045ddcdffcf5563fe4744$</string>
            <key>textureFileName</key>
            <string>eastericon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
