<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip1_Hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,136},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>equip1_IronIngot.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{138,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,62}}</string>
                <key>sourceSize</key>
                <string>{138,62}</string>
            </dict>
            <key>equip1_IronIngotGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,4},{126,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,74}}</string>
                <key>sourceSize</key>
                <string>{126,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip1icon.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58c417898299961be5a6a3fab246e32b:c3f04855bee67363f36e98830301e2d3:27fcf35c5ce480df1a277c1a88637e52$</string>
            <key>textureFileName</key>
            <string>equip1icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
