<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equip1_Recharge_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,576},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>equip1_Recharge_bg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,855},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,90}}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>equip1_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{297,745}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,745}}</string>
                <key>sourceSize</key>
                <string>{297,745}</string>
            </dict>
            <key>equip1_jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,964},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>equip1_pay_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,97},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>equip1_pay_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,964},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>equip1_pay_di8.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,4},{261,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,4}}</string>
                <key>sourceSize</key>
                <string>{261,4}</string>
            </dict>
            <key>equip1_shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,755},{258,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,258}}</string>
                <key>sourceSize</key>
                <string>{258,258}</string>
            </dict>
            <key>equip1_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,755},{94,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,201}}</string>
                <key>sourceSize</key>
                <string>{96,201}</string>
            </dict>
            <key>equip1_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,271},{299,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,78}}</string>
                <key>sourceSize</key>
                <string>{299,78}</string>
            </dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,672},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_btnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,97},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,979},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,4},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,855},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,271},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,979},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equip1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c688f246021679fb94e15627e0b48e75:9e7fa19dfd676a5a8ef9beed75151726:02d31f7e7f9cd2cd9e430932b806ddf0$</string>
            <key>textureFileName</key>
            <string>equip1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
