<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>Yan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,71},{61,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,20}}</string>
                <key>sourceSize</key>
                <string>{61,20}</string>
            </dict>
            <key>Yan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,4},{61,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,21}}</string>
                <key>sourceSize</key>
                <string>{61,21}</string>
            </dict>
            <key>lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{123,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,110}}</string>
                <key>sourceSize</key>
                <string>{123,110}</string>
            </dict>
            <key>maozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,4},{105,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,68}}</string>
                <key>sourceSize</key>
                <string>{105,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>foolicon.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f4e1b535d39cee469f22f222552163:d4a81488916b5f361da74203ead66539:93d11a29c6039e06c801e1fe078057de$</string>
            <key>textureFileName</key>
            <string>foolicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
