<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advHotBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,90},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>advHotBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,473},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>advMoney06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,383},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>advbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>advlihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,473},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_advbtnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,383},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>halloween_Recharge_bg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,282},{151,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,185}}</string>
                <key>sourceSize</key>
                <string>{151,185}</string>
            </dict>
            <key>halloween_Recharge_bg88.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,152},{225,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,321}}</string>
                <key>sourceSize</key>
                <string>{225,321}</string>
            </dict>
            <key>halloween_Recharge_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,473},{523,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,76}}</string>
                <key>sourceSize</key>
                <string>{523,76}</string>
            </dict>
            <key>halloween_Recharge_zhuangshi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,90},{186,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{186,106}}</string>
                <key>sourceSize</key>
                <string>{200,114}</string>
            </dict>
            <key>halloween_Recharge_zhuangshi9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,457},{253,193}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{253,193}}</string>
                <key>sourceSize</key>
                <string>{257,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>halloweenadv.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9907cec2fc0267e6a0e12f93d7d9e7c5:1/1$</string>
            <key>textureFileName</key>
            <string>halloweenadv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
