<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kingdom_war_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{100,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,71}}</string>
                <key>sourceSize</key>
                <string>{100,71}</string>
            </dict>
            <key>kingdom_war_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,4},{11,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{11,51}}</string>
                <key>sourceSize</key>
                <string>{13,59}</string>
            </dict>
            <key>kingdom_war_Rock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,81},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>kingdom_war_Rock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,81},{33,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,19}}</string>
                <key>sourceSize</key>
                <string>{33,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kingdom_waricon.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d45f9bc1746dc16499b29e428ede1b1:132bc443945ef069b951561fe05485dd:8a37979082ca3a0d5c591977507f5a20$</string>
            <key>textureFileName</key>
            <string>kingdom_waricon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
