<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LiBao_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,4},{616,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,246}}</string>
                <key>sourceSize</key>
                <string>{616,246}</string>
            </dict>
            <key>christmas_gift_adv_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,4},{616,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{616,246}}</string>
                <key>sourceSize</key>
                <string>{616,246}</string>
            </dict>
            <key>snow_merry-christmas_adv..png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{524,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{524,284}}</string>
                <key>sourceSize</key>
                <string>{524,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LiBao_gift.pvr.ccz</string>
            <key>size</key>
            <string>{1154,292}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:980ba571e5600acf594d57c140313761:1/1$</string>
            <key>textureFileName</key>
            <string>LiBao_gift.pvr.ccz</string>
        </dict>
    </dict>
</plist>
