<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_yearicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{125,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,88}}</string>
                <key>sourceSize</key>
                <string>{125,88}</string>
            </dict>
            <key>new_yearicon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,4},{53,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,64}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new_yearicon.pvr.ccz</string>
            <key>size</key>
            <string>{192,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54e21fb104d517fb80e54d573cbe2929:1/1$</string>
            <key>textureFileName</key>
            <string>new_yearicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
