<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dibeijing (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{563,353}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,353}}</string>
                <key>sourceSize</key>
                <string>{567,353}</string>
            </dict>
            <key>diguang (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{314,363},{241,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,235}}</string>
                <key>sourceSize</key>
                <string>{241,235}</string>
            </dict>
            <key>ditu-erji.pngbiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,466},{24,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,304}}</string>
                <key>sourceSize</key>
                <string>{26,304}</string>
            </dict>
            <key>ditu-erji.pngdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,466},{283,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{283,77}}</string>
                <key>sourceSize</key>
                <string>{283,79}</string>
            </dict>
            <key>ditu-erji.pngdikuang-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,960},{274,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,38}}</string>
                <key>sourceSize</key>
                <string>{274,38}</string>
            </dict>
            <key>ditu-erji.pngditu-erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,363},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>ditu-erji.pngjinbi (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{910,158},{115,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,94}}</string>
                <key>sourceSize</key>
                <string>{115,94}</string>
            </dict>
            <key>ditu-erji.pngnpc.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,4},{331,456}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{331,456}}</string>
                <key>sourceSize</key>
                <string>{343,456}</string>
            </dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,363},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,960},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,279},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,372},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,496},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,466},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>normal_giftqiandai.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,363},{113,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,87}}</string>
                <key>sourceSize</key>
                <string>{113,87}</string>
            </dict>
            <key>normal_giftqianxiangzi (1).png</key>
            <dict>
                <key>frame</key>
                <string>{{910,4},{148,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,99}}</string>
                <key>sourceSize</key>
                <string>{148,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal_gift.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d15e5f290b704e40d18947d15a56cec7:e66e92b37ec3e2f2c130c0056a833d1b:e3fff63cacab5461b62a6549c52842c2$</string>
            <key>textureFileName</key>
            <string>normal_gift.pvr.ccz</string>
        </dict>
    </dict>
</plist>
