<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oneyearicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{96,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,91}}</string>
                <key>sourceSize</key>
                <string>{96,91}</string>
            </dict>
            <key>oneyearicon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,101},{34,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,55}}</string>
                <key>sourceSize</key>
                <string>{34,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>oneyearicon.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44085c73fa2370a54b10f8ca6ca0f63a:1/1$</string>
            <key>textureFileName</key>
            <string>oneyearicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
