<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,90},{24,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{24,304}}</string>
                <key>sourceSize</key>
                <string>{26,304}</string>
            </dict>
            <key>di 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,885},{233,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{233,107}}</string>
                <key>sourceSize</key>
                <string>{233,109}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,63},{234,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,38}}</string>
                <key>sourceSize</key>
                <string>{234,38}</string>
            </dict>
            <key>ditu-erji-bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,90},{59,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,95}}</string>
                <key>sourceSize</key>
                <string>{59,95}</string>
            </dict>
            <key>ditu-erji-tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,377},{214,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,52}}</string>
                <key>sourceSize</key>
                <string>{214,52}</string>
            </dict>
            <key>ditu-erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,248},{90,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,85}}</string>
                <key>sourceSize</key>
                <string>{90,85}</string>
            </dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,339},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_btnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,303},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,4},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,155},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,885},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,998},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>jianbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,90},{293,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,47}}</string>
                <key>sourceSize</key>
                <string>{293,47}</string>
            </dict>
            <key>tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,303},{576,293}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{576,293}}</string>
                <key>sourceSize</key>
                <string>{576,295}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ru_gift.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7a42dc9d6615072df34bd1c295e4682:afa33e844a89bf4fadf919b27a9255e1:d375669359d252d0f24168e21106780e$</string>
            <key>textureFileName</key>
            <string>ru_gift.pvr.ccz</string>
        </dict>
    </dict>
</plist>
