<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ru_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ru_gifticon.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebfb3db62ec85fad475ba68c3d9e32ee:8dbbf451410a7d5f18708ad29b8239bd:5dd6a00d5263fb22b5b532ba29774192$</string>
            <key>textureFileName</key>
            <string>ru_gifticon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
