<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{44,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,86}}</string>
                <key>sourceSize</key>
                <string>{44,86}</string>
            </dict>
            <key>yezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,72},{11,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,49}}</string>
                <key>sourceSize</key>
                <string>{11,49}</string>
            </dict>
            <key>yezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,112},{14,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,57}}</string>
                <key>sourceSize</key>
                <string>{14,57}</string>
            </dict>
            <key>yezi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,54},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,70}}</string>
                <key>sourceSize</key>
                <string>{52,70}</string>
            </dict>
            <key>yezi5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,72},{26,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,45}}</string>
                <key>sourceSize</key>
                <string>{26,45}</string>
            </dict>
            <key>yezi6.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,4},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>yezi7.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,123},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>yezi8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,40},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>springicon.pvr.ccz</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c2e2e4a0e531a1496e349663432a5f3:a459b7a7bba2010f68fd761c351e6a55:132060f52cf7ec6df78bf78898341ce5$</string>
            <key>textureFileName</key>
            <string>springicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
