<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TW_gift1icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,165},{155,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,177}}</string>
                <key>sourceSize</key>
                <string>{155,177}</string>
            </dict>
            <key>TW_gifticon.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{155,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,177}}</string>
                <key>sourceSize</key>
                <string>{155,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TW_gift1icon.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2511d19e39024092809b3d997526e17:1/1$</string>
            <key>textureFileName</key>
            <string>TW_gift1icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
