<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WarResources.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{110,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,93}}</string>
                <key>sourceSize</key>
                <string>{110,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>war_resourceicon.pvr.ccz</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76f2b3abead7b651be8c37effdd86b02:76a7aa6995290ca02a2c661199da0763:5f8cf2797ab4d2bdde412732bbee1d22$</string>
            <key>textureFileName</key>
            <string>war_resourceicon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
