<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advHotBG2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,426},{356,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,56}}</string>
                <key>sourceSize</key>
                <string>{356,56}</string>
            </dict>
            <key>advHotBG3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,426},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>advMoney06.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,488},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>advbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,340},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>advlihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,488},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_advbtnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,488},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>wargiftadvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{500,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,330}}</string>
                <key>sourceSize</key>
                <string>{500,330}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wargiftadv.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0864cdbe7b602de8c23baca074adb7e:6cfa3fdbcf6a9c83c2b71a45c8ceb71a:cd6261243c66c623b365a519435744cb$</string>
            <key>textureFileName</key>
            <string>wargiftadv.pvr.ccz</string>
        </dict>
    </dict>
</plist>
