<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exchange_Money06.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,940},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>exchange_btnPackage.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,940},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>exchange_di4.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,953},{80,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,66}}</string>
                <key>sourceSize</key>
                <string>{80,66}</string>
            </dict>
            <key>exchange_di6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,978},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>exchange_di9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,978},{33,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>exchange_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,978},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>exchange_lihe.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,854},{87,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{87,93}}</string>
                <key>sourceSize</key>
                <string>{93,95}</string>
            </dict>
            <key>exchange_sold out.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,854},{118,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,92}}</string>
                <key>sourceSize</key>
                <string>{120,92}</string>
            </dict>
            <key>exchangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,854},{458,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{458,80}}</string>
                <key>sourceSize</key>
                <string>{464,80}</string>
            </dict>
            <key>exhcange_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,940},{70,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,22}}</string>
                <key>sourceSize</key>
                <string>{70,22}</string>
            </dict>
            <key>wargiftbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{612,844}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{612,844}}</string>
                <key>sourceSize</key>
                <string>{628,848}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wargift.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aba541419ca85b1406e86405fb6e180:019ef0f95acca2f1af28a929e46c101e:53665a0d9a21ddc4d2d590ccf2923f7e$</string>
            <key>textureFileName</key>
            <string>wargift.pvr.ccz</string>
        </dict>
    </dict>
</plist>
