<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_DBF_island_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1147},{257,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,90}}</string>
                <key>sourceSize</key>
                <string>{257,90}</string>
            </dict>
            <key>BG_DBF_island_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1533},{210,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,121}}</string>
                <key>sourceSize</key>
                <string>{210,121}</string>
            </dict>
            <key>BG_DBF_island_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1534},{219,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,108}}</string>
                <key>sourceSize</key>
                <string>{219,108}</string>
            </dict>
            <key>BG_DBF_island_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1535},{356,277}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,277}}</string>
                <key>sourceSize</key>
                <string>{356,291}</string>
            </dict>
            <key>BG_DBF_island_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,1749},{132,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,92}}</string>
                <key>sourceSize</key>
                <string>{132,92}</string>
            </dict>
            <key>BG_DBF_island_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,1747},{120,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,90}}</string>
                <key>sourceSize</key>
                <string>{120,90}</string>
            </dict>
            <key>BG_DBF_island_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1877},{122,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,96}}</string>
                <key>sourceSize</key>
                <string>{122,96}</string>
            </dict>
            <key>BG_DBF_island_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1897},{248,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,144}}</string>
                <key>sourceSize</key>
                <string>{248,144}</string>
            </dict>
            <key>BG_DBF_island_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1147},{348,382}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,382}}</string>
                <key>sourceSize</key>
                <string>{348,382}</string>
            </dict>
            <key>BG_DBF_island_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1403},{124,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,214}}</string>
                <key>sourceSize</key>
                <string>{124,214}</string>
            </dict>
            <key>BG_DBF_island_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1410},{147,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,118}}</string>
                <key>sourceSize</key>
                <string>{147,118}</string>
            </dict>
            <key>BG_DBF_island_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1895},{240,148}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,148}}</string>
                <key>sourceSize</key>
                <string>{240,152}</string>
            </dict>
            <key>BG_DBF_island_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1897},{135,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,94}}</string>
                <key>sourceSize</key>
                <string>{135,94}</string>
            </dict>
            <key>BG_DBF_thumbnail.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{960,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,1136}}</string>
                <key>sourceSize</key>
                <string>{960,1136}</string>
            </dict>
            <key>dark_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1147},{250,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,125}}</string>
                <key>sourceSize</key>
                <string>{250,125}</string>
            </dict>
            <key>icon_landmark_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1535},{273,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{273,148}}</string>
                <key>sourceSize</key>
                <string>{279,158}</string>
            </dict>
            <key>icon_landmark_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1749},{96,122}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{96,122}}</string>
                <key>sourceSize</key>
                <string>{112,132}</string>
            </dict>
            <key>icon_landmark_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1147},{69,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,4},{69,81}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>icon_landmark_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1759},{112,128}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,128}}</string>
                <key>sourceSize</key>
                <string>{112,132}</string>
            </dict>
            <key>icon_landmark_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1147},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{112,114}}</string>
                <key>sourceSize</key>
                <string>{112,132}</string>
            </dict>
            <key>icon_landmark_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1887},{94,128}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{94,128}}</string>
                <key>sourceSize</key>
                <string>{112,132}</string>
            </dict>
            <key>icon_landmark_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1533},{94,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,121}}</string>
                <key>sourceSize</key>
                <string>{96,121}</string>
            </dict>
            <key>icon_landmark_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1222},{69,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{69,91}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>icon_landmark_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1814},{63,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{63,77}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>icon_landmark_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1814},{97,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>icon_landmark_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1660},{71,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{71,81}}</string>
                <key>sourceSize</key>
                <string>{97,91}</string>
            </dict>
            <key>icon_neutrality_building 2.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1660},{66,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,83}}</string>
                <key>sourceSize</key>
                <string>{66,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>DragonMinimap.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfc4b843a08d58f6fd44abd6f6e2a778:1/1$</string>
            <key>textureFileName</key>
            <string>DragonMinimap.pvr.ccz</string>
        </dict>
    </dict>
</plist>
