<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>city_build_bag_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,147},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>city_build_bag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,206},{19,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,13}}</string>
                <key>sourceSize</key>
                <string>{19,13}</string>
            </dict>
            <key>city_build_bag_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,222},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{19,12}</string>
            </dict>
            <key>city_build_bag_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,237},{30,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>city_build_bag_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,178},{25,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,19}}</string>
                <key>sourceSize</key>
                <string>{25,19}</string>
            </dict>
            <key>city_build_bag_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,427},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>city_build_bag_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,294},{28,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,16}}</string>
                <key>sourceSize</key>
                <string>{28,16}</string>
            </dict>
            <key>city_build_main_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,147},{127,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,92}}</string>
                <key>sourceSize</key>
                <string>{127,92}</string>
            </dict>
            <key>city_build_main_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,277},{120,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,87}}</string>
                <key>sourceSize</key>
                <string>{120,87}</string>
            </dict>
            <key>city_build_main_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,76},{102,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,68}}</string>
                <key>sourceSize</key>
                <string>{102,68}</string>
            </dict>
            <key>city_build_main_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{130,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,91}}</string>
                <key>sourceSize</key>
                <string>{130,91}</string>
            </dict>
            <key>city_build_main_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{123,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,87}}</string>
                <key>sourceSize</key>
                <string>{123,87}</string>
            </dict>
            <key>city_build_main_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{105,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,71}}</string>
                <key>sourceSize</key>
                <string>{105,71}</string>
            </dict>
            <key>icon_build_up_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>manin_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,427},{39,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,72}}</string>
                <key>sourceSize</key>
                <string>{39,72}</string>
            </dict>
            <key>manin_city_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,427},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>manin_city_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,313},{75,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,26}}</string>
                <key>sourceSize</key>
                <string>{75,26}</string>
            </dict>
            <key>starshow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,105}}</string>
                <key>sourceSize</key>
                <string>{139,105}</string>
            </dict>
            <key>starshow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_15.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b5964460edf26e662c076166c29fdbb:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_15.pvr.ccz</string>
        </dict>
    </dict>
</plist>
