<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1025},{1020,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,1020}}</string>
                <key>sourceSize</key>
                <string>{1020,1020}</string>
            </dict>
            <key>map_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,2},{1020,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,1020}}</string>
                <key>sourceSize</key>
                <string>{1020,1020}</string>
            </dict>
            <key>map_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{1020,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,1020}}</string>
                <key>sourceSize</key>
                <string>{1020,1020}</string>
            </dict>
            <key>map_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,1020}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,1020}}</string>
                <key>sourceSize</key>
                <string>{1020,1020}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc4628dba29f904e44fb1770002c9bd:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
