<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,359},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,279},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,439},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,514},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,381},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>01_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,301},{77,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,279},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,946},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,946},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,946},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,467},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,389},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,311},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>02_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,233},{83,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,75}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>03_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,263},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,234},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,205},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,176},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,147},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,118},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,89},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>03_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,60},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>bubing1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,534},{48,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,65},{48,66}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,182},{48,84}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,47},{48,84}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,534},{52,72}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,59},{52,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{54,58}}</string>
                <key>offset</key>
                <string>{-18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,88},{54,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{48,48}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,98},{48,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,534},{48,52}}</string>
                <key>offset</key>
                <string>{-15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,94},{48,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{56,52}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,85},{56,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,497},{60,48}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,83},{60,48}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bubing1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,534},{48,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,67},{48,64}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gong_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,2},{130,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,55}}</string>
                <key>sourceSize</key>
                <string>{130,55}</string>
            </dict>
            <key>gongjianbing_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,371},{48,62}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,52},{48,62}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,250},{48,64}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,50},{48,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{48,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,38},{48,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,461},{50,70}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,44},{50,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,422},{60,72}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{60,72}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,57},{54,64}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{54,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,320},{48,62}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,52},{48,62}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>gongjianbing_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,199},{48,62}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,52},{48,62}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>pic423000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,259},{361,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,272}}</string>
                <key>sourceSize</key>
                <string>{361,272}</string>
            </dict>
            <key>pic424000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{349,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,273}}</string>
                <key>sourceSize</key>
                <string>{349,273}</string>
            </dict>
            <key>pic425000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{392,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,254}}</string>
                <key>sourceSize</key>
                <string>{392,254}</string>
            </dict>
            <key>pic426000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,274}}</string>
                <key>sourceSize</key>
                <string>{433,274}</string>
            </dict>
            <key>qibingying_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,439},{58,74}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{58,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,279},{58,72}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{58,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,479},{58,78}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,35},{58,78}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,121},{58,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{58,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,418},{58,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{58,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,60},{58,86}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,27},{58,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,357},{58,82}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,31},{58,82}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,279},{58,72}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,41},{58,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>qibingying_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,124},{62,72}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{62,72}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,292},{25,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{25,31}}</string>
                <key>sourceSize</key>
                <string>{25,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_11.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158ab58e2de487eaafd044750d5329c8:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_11.pvr.ccz</string>
        </dict>
    </dict>
</plist>
