<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic401000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{735,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{735,440}}</string>
                <key>sourceSize</key>
                <string>{735,440}</string>
            </dict>
            <key>pic402000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,436},{413,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{413,260}}</string>
                <key>sourceSize</key>
                <string>{413,260}</string>
            </dict>
            <key>pic403000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,741},{380,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{380,230}}</string>
                <key>sourceSize</key>
                <string>{380,230}</string>
            </dict>
            <key>pic404000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{412,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,293}}</string>
                <key>sourceSize</key>
                <string>{412,293}</string>
            </dict>
            <key>pic407000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1062},{165,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,91}}</string>
                <key>sourceSize</key>
                <string>{165,91}</string>
            </dict>
            <key>pic409000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1156},{150,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,127}}</string>
                <key>sourceSize</key>
                <string>{150,127}</string>
            </dict>
            <key>pic410000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{324,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,173}}</string>
                <key>sourceSize</key>
                <string>{324,173}</string>
            </dict>
            <key>pic411000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,852},{338,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,207}}</string>
                <key>sourceSize</key>
                <string>{338,207}</string>
            </dict>
            <key>pic412000_2_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1228},{188,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,118}}</string>
                <key>sourceSize</key>
                <string>{188,118}</string>
            </dict>
            <key>pic414000_2_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,1286},{188,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,113}}</string>
                <key>sourceSize</key>
                <string>{188,113}</string>
            </dict>
            <key>pic416000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1062},{218,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,163}}</string>
                <key>sourceSize</key>
                <string>{218,163}</string>
            </dict>
            <key>pic417000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1046},{239,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,321}}</string>
                <key>sourceSize</key>
                <string>{239,321}</string>
            </dict>
            <key>pic422000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{179,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,375}}</string>
                <key>sourceSize</key>
                <string>{179,375}</string>
            </dict>
            <key>pic427000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,445},{405,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{405,258}}</string>
                <key>sourceSize</key>
                <string>{405,258}</string>
            </dict>
            <key>pic428000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{431,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,281}}</string>
                <key>sourceSize</key>
                <string>{431,281}</string>
            </dict>
            <key>pic429000_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{332,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{332,177}}</string>
                <key>sourceSize</key>
                <string>{332,177}</string>
            </dict>
            <key>pic430000_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,853},{256,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,190}}</string>
                <key>sourceSize</key>
                <string>{256,190}</string>
            </dict>
            <key>tech_ball_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1851},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1625},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1625},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1596},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1596},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1515},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1515},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1575},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1515},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1512},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1512},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1483},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1483},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,1462},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1370},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1370},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1402},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1402},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>tech_ball_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1349},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_16.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6ee88ade8e5dcf32c5e8b0a817a44bd:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_16.pvr.ccz</string>
        </dict>
    </dict>
</plist>
