<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NewbieGuide_finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,922},{64,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,150}}</string>
                <key>sourceSize</key>
                <string>{64,150}</string>
            </dict>
            <key>build_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1025},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>dragonCaveShine.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,1287},{106,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,135}}</string>
                <key>sourceSize</key>
                <string>{106,135}</string>
            </dict>
            <key>fashugongren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,57},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,47},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,42},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,47},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,37},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,32},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,27},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,32},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>fashugongren_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,52},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>gary_cloud_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1453},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1382},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1311},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1275},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1243},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1217},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1265},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1194},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1158},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1148},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gary_cloud_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1077},{140,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,113}}</string>
                <key>sourceSize</key>
                <string>{140,113}</string>
            </dict>
            <key>gu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1200},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,1130},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1113},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1071},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,1043},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1061},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,990},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,984},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>gu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{83,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{83,143}</string>
            </dict>
            <key>inner_risk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1556},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1563},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1499},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1499},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1502},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1456},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1492},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1428},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1428},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,1392},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1392},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1387},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1334},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,1334},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1112},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1112},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1048},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>inner_risk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,984},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>lock-Board.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,947},{95,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,74}}</string>
                <key>sourceSize</key>
                <string>{95,74}</string>
            </dict>
            <key>lock-trees_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,406},{262,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,174}}</string>
                <key>sourceSize</key>
                <string>{262,174}</string>
            </dict>
            <key>lock-trees_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{274,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,200}}</string>
                <key>sourceSize</key>
                <string>{274,200}</string>
            </dict>
            <key>lock-trees_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,209},{269,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,193}}</string>
                <key>sourceSize</key>
                <string>{269,193}</string>
            </dict>
            <key>lock-trees_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{291,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,203}}</string>
                <key>sourceSize</key>
                <string>{291,203}</string>
            </dict>
            <key>lock-trees_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,280},{259,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,220}}</string>
                <key>sourceSize</key>
                <string>{259,220}</string>
            </dict>
            <key>lock-wood_1 0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,22},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>lock-wood_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,17},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>lock-wood_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,12},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>lock-wood_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,7},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>lock-wood_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>military_flag_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{119,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,179}}</string>
                <key>sourceSize</key>
                <string>{119,179}</string>
            </dict>
            <key>penquanRainbow.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,922},{157,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,135}}</string>
                <key>sourceSize</key>
                <string>{157,135}</string>
            </dict>
            <key>princess_badge.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1176},{124,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,63}}</string>
                <key>sourceSize</key>
                <string>{124,63}</string>
            </dict>
            <key>princess_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,584},{46,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,108}}</string>
                <key>sourceSize</key>
                <string>{46,108}</string>
            </dict>
            <key>river_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,943},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,884},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,843},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,784},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,743},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,743},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,643},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,684},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,584},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>river_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,543},{96,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,200}}</string>
                <key>sourceSize</key>
                <string>{96,200}</string>
            </dict>
            <key>sunshine_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>sunshine_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,512}}</string>
                <key>sourceSize</key>
                <string>{88,512}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,209},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:774adde489286397fe83d5ec2a149450:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
