<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Friend_apply_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,634},{70,74}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{70,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1087},{88,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{88,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>Friend_list_icon_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1105},{64,64}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>Friend_xiongdi_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1050},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>dragonBattleEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,951},{232,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,172}}</string>
                <key>sourceSize</key>
                <string>{232,172}</string>
            </dict>
            <key>pic418000_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic418000_5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>pic419000_cm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,608},{394,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,359}}</string>
                <key>sourceSize</key>
                <string>{394,359}</string>
            </dict>
            <key>pic419000_cm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic419000_cm_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic419000_cm_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic419000_cm_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic419000_cm_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic419000_cm_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,242},{368,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,363}}</string>
                <key>sourceSize</key>
                <string>{368,363}</string>
            </dict>
            <key>pic_ziyuan_men.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,970},{124,148}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,148}}</string>
                <key>sourceSize</key>
                <string>{128,148}</string>
            </dict>
            <key>wall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1203},{149,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,174}}</string>
                <key>sourceSize</key>
                <string>{149,174}</string>
            </dict>
            <key>wall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,970},{63,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,124}}</string>
                <key>sourceSize</key>
                <string>{63,124}</string>
            </dict>
            <key>wall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1172},{63,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,146}}</string>
                <key>sourceSize</key>
                <string>{63,146}</string>
            </dict>
            <key>wall_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,576},{157,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,130}}</string>
                <key>sourceSize</key>
                <string>{157,130}</string>
            </dict>
            <key>wall_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1126},{79,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,180}}</string>
                <key>sourceSize</key>
                <string>{79,180}</string>
            </dict>
            <key>wall_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,360},{213,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,170}}</string>
                <key>sourceSize</key>
                <string>{213,170}</string>
            </dict>
            <key>wall_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1105},{95,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,194}}</string>
                <key>sourceSize</key>
                <string>{95,194}</string>
            </dict>
            <key>wall_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{222,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,263}}</string>
                <key>sourceSize</key>
                <string>{222,263}</string>
            </dict>
            <key>wall_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{314,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,243}}</string>
                <key>sourceSize</key>
                <string>{314,243}</string>
            </dict>
            <key>wall_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,709},{288,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,239}}</string>
                <key>sourceSize</key>
                <string>{288,239}</string>
            </dict>
            <key>wall_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{390,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,237}}</string>
                <key>sourceSize</key>
                <string>{390,237}</string>
            </dict>
            <key>wall_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{624,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,355}}</string>
                <key>sourceSize</key>
                <string>{624,355}</string>
            </dict>
            <key>wall_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{451,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{451,271}}</string>
                <key>sourceSize</key>
                <string>{451,271}</string>
            </dict>
            <key>wall_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,951},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>wall_notice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,970},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>wall_notice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,242},{27,22}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{31,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_12.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cdbd98dc2b184bb9b5d9facc264269c:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
