# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
# *.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store

xcshareddata
DerivedData
xcuserdata
local.properties
userconf.ini
*.sdf
*.opensdf
*.exp
*.xccheckout
*.pyc
cocos2d/plugin/plugins/*

Android_Resource
proj.android/obj
proj.android/ChatServices/bin/
proj.android/ChatServices/gen/
proj.android/ChatServices/related_projects/PullRefreshDemo/bin/
proj.android/ChatServices/related_projects/SwipeMenuListView/bin/
proj.android/facebook/bin/
proj.android/helpshift-plugin-cocos2dx-android/bin/
proj.android/NineOldAndroids/bin/
Publish.android/NBG_CN1/bdwallet_pay_sdk/bin/
proj.android/libs/armeabi/
proj.android/NineOldAndroids/gen/
proj.android/helpshift-plugin-cocos2dx-android/gen/
Publish.android/NBG_CN1/bdwallet_pay_sdk/gen/
Publish.android/NBG_CN1/bin/
Publish.android/NBG_CN1/gen/
Publish.android/NBG_CN1/kit-libs/*
Publish.android/NBG_CN1/WeiboSDK/bin/
Publish.android/NBG_CN1/WeiboSDK/gen/
proj.android/assets/
package-so/
package/
proj.android/Adjust/bin/
proj.android/Adjust/gen/
proj.android/bin/
proj.android/gen/
proj.android/Branch-SDK/bin/
proj.android/Branch-SDK/gen/
proj.android/ChatServices/related_projects/NewQuickAction3D/gen/
proj.android/ChatServices/related_projects/NewQuickAction3D/bin/
proj.android/ChatServices/related_projects/PullRefreshDemo/gen/
proj.android/ChatServices/related_projects/PullRefreshDemo/bin/
proj.android/ChatServices/related_projects/SwipeMenuListView/gen/
proj.android/ChatServices/related_projects/SwipeMenuListView/bin/
proj.android/facebook/gen/
proj.android/facebook/bin/
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/platform/android/java/bin/




cocos2d/plugin/protocols/proj.android/proguard-project.txt
proj.android/.settings/org.eclipse.jdt.core.prefs
proj.android/ChatServices/related_projects/actionbarsherlock/build.xml
proj.android/ChatServices/related_projects/actionbarsherlock/proguard-project.txt
proj.android/ChatServices/related_projects/ChatServicesTemp/proguard-project.txt
proj.android/ChatServices/related_projects/Sample1/build.xml
proj.android/ChatServices/related_projects/WrapperChatService/build.xml
proj.android/NineOldAndroids/proguard-project.txt
Publish.android/NBG_CN1/proguard-project.txt

proj.android/GamesServices_lib/BaseGameUtils/src/main/bin/
proj.android/GamesServices_lib/BaseGameUtils/src/main/gen/
proj.android/google-play-services_lib/bin/
proj.android/google-play-services_lib/gen/
Publish.android/IF_Global/bin/
Publish.android/IF_Global/gen/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_answers/bin/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_answers/gen/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_beta/bin/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_beta/gen/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics-ndk-labs/bin/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics-ndk-labs/gen/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics/bin/
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics/gen/
Publish.android/IF_Global/kit-libs/io-fabric-sdk-android_fabric/bin/
Publish.android/IF_Global/kit-libs/io-fabric-sdk-android_fabric/gen/
Publish.android/IF_Global/vksdk_library/bin/
Publish.android/IF_Global/vksdk_library/gen/

cocos2d/cocos/platform/android/ControllerManualAdapter/bin/
cocos2d/cocos/platform/android/ControllerManualAdapter/gen/
Publish.android/IF_Global/proguard-project.txt
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_answers/kit-version.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_answers/project.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_beta/kit-version.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_beta/project.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics/kit-version.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics/project.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics-ndk-labs/kit-version.properties
Publish.android/IF_Global/kit-libs/com-crashlytics-sdk-android_crashlytics-ndk-labs/project.properties
Publish.android/IF_Global/kit-libs/io-fabric-sdk-android_fabric/kit-version.properties
Publish.android/IF_Global/kit-libs/io-fabric-sdk-android_fabric/project.properties
Publish.android/IF_Global/vksdk_library/proguard-project.txt

/Resources/

org.eclipse.jdt.core.prefs

Resources_download_contents
Release-iphoneos
proj.android/assets_tmp
proj.android/assets

proj.android/ChatServices/.idea/dictionaries
proj.android/ChatServices/.idea/workspace.xml

Publish.android/IF_Global/assets/

################################################

bin/
gen/

Publish.old
Publish.XG

COK_360
COK_Amazon
COK_Baidu
COK_Beta
COK_Cafebazaar
COK_CN1
COK_Common
COK_Gash
COK_Goodgames
COK_Mi
COK_MiHy
COK_Mol
COK_Mycard
COK_Nstore
COK_UC
COK_XG
COK_XG2
IF_Inner
IF_Tstore

Publish.android/IF_Global
Publish.android/zltx_hoolai/.settings
boost
