<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>57009_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{641,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{641,359}}</string>
                <key>sourceSize</key>
                <string>{641,359}</string>
            </dict>
            <key>57029_adl.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1096},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>57033_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,733},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>57037_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,5},{640,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,358}}</string>
                <key>sourceSize</key>
                <string>{640,358}</string>
            </dict>
            <key>57037_ad1_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1459},{543,266}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,266}}</string>
                <key>sourceSize</key>
                <string>{543,268}</string>
            </dict>
            <key>57039_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,651},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>57045_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,370},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_ad.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa989d2d72c39dc17b510f6bffb5385:1/1$</string>
            <key>textureFileName</key>
            <string>activity_ad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
