<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>JP_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{600,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,620}}</string>
                <key>sourceSize</key>
                <string>{600,620}</string>
            </dict>
            <key>JP_face_eff1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,630},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>JP_face.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d6abafb443bef3859715c009bca51c:1/1$</string>
            <key>textureFileName</key>
            <string>JP_face.pvr.ccz</string>
        </dict>
    </dict>
</plist>
