<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AE.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AL.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AM.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AO.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AR.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AT.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>AZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,27},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BH.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BR.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BY.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>BrPr.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CA.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CH.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CN_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>CZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,153},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DE.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DK.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>DZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EC.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EE.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>EG.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ES.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>FI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>FR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GB.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,279},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>GbUs.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HK.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HR.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>HU.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ID.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IE.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>IT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>JP.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,405},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KH.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KW.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>KZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LA.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LI.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LT.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LU.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>LV.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MM.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,531},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MX.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>MY.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NL.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NO.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>NZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PA.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PL.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PS.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,657},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>PT.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RO.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RS.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>RU.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SA.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SE.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>SY.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TH.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,783},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TN.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TR.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UA.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UN.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>US.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>UZ.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>VE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1231,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>VN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>YE.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
            <key>ZA.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,909},{143,97}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{143,97}}</string>
                <key>sourceSize</key>
                <string>{157,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_208.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:978c26f267b97656a1c319c674b1f7ae:1/1$</string>
            <key>textureFileName</key>
            <string>Common_208.pvr.ccz</string>
        </dict>
    </dict>
</plist>
