<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107300.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1174},{356,286}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,114},{356,286}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107301.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,896},{370,272}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,113},{370,272}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107302.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{416,318}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,72},{416,318}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107303.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,634},{378,256}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,125},{378,256}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107304.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,328},{390,300}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,76},{390,300}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107305.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,4},{412,234}}</string>
                <key>offset</key>
                <string>{3,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,148},{412,234}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107306.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,600},{330,388}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,37},{330,388}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107307.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,936},{370,244}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,132},{370,244}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107308.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,244},{350,392}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,34},{350,392}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
            <key>ico107309.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1466},{336,276}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,122},{336,276}}</string>
                <key>sourceSize</key>
                <string>{466,466}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_203.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:008721ad57ff86fb0dc001e33867cadb:1/1$</string>
            <key>textureFileName</key>
            <string>Common_203.pvr.ccz</string>
        </dict>
    </dict>
</plist>
