<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Forging_jindutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,4},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>Forging_jindutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,66},{12,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,55}}</string>
                <key>sourceSize</key>
                <string>{12,55}</string>
            </dict>
            <key>Forging_jindutiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1000},{12,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,56}}</string>
                <key>sourceSize</key>
                <string>{12,56}</string>
            </dict>
            <key>Forging_jindutiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,421},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>Forging_jindutiao_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,128},{45,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,12}}</string>
                <key>sourceSize</key>
                <string>{45,12}</string>
            </dict>
            <key>Forging_jindutiao_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,178},{45,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,12}}</string>
                <key>sourceSize</key>
                <string>{45,12}</string>
            </dict>
            <key>Forging_jindutiao_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,127},{45,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,12}}</string>
                <key>sourceSize</key>
                <string>{45,12}</string>
            </dict>
            <key>Forging_jindutiao_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,527},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>Forging_jindutiao_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,582},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>Forging_jindutiao_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,719},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>Forging_jindutiao_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,704},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,57}}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>Forging_jindutiao_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,522},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>Forging_jindutiao_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,353},{75,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,62}}</string>
                <key>sourceSize</key>
                <string>{75,62}</string>
            </dict>
            <key>Forging_jindutiao_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,567},{91,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,46}}</string>
                <key>sourceSize</key>
                <string>{91,46}</string>
            </dict>
            <key>Forging_jindutiao_bg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,650},{63,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,85}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>Forging_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,210},{129,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{129,123}}</string>
                <key>sourceSize</key>
                <string>{131,125}</string>
            </dict>
            <key>Forging_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,862},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>Forging_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,524},{52,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,110}}</string>
                <key>sourceSize</key>
                <string>{52,112}</string>
            </dict>
            <key>UI_Gray_biaotilan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,209},{194,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,69}}</string>
                <key>sourceSize</key>
                <string>{194,69}</string>
            </dict>
            <key>UI_Gray_biaotilan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1006},{169,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,13}}</string>
                <key>sourceSize</key>
                <string>{169,13}</string>
            </dict>
            <key>UI_Gray_biaotilan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,862},{150,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{150,29}}</string>
                <key>sourceSize</key>
                <string>{152,29}</string>
            </dict>
            <key>UI_Gray_biaotilan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,45},{12,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,26}}</string>
                <key>sourceSize</key>
                <string>{12,26}</string>
            </dict>
            <key>UI_Gray_biaotilan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,465},{40,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,56}}</string>
                <key>sourceSize</key>
                <string>{40,56}</string>
            </dict>
            <key>UI_bg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{320,852}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,852}}</string>
                <key>sourceSize</key>
                <string>{320,852}</string>
            </dict>
            <key>UI_general_kuang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,284},{26,193}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,193}}</string>
                <key>sourceSize</key>
                <string>{26,201}</string>
            </dict>
            <key>equipSite01.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,78},{122,126}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{122,126}}</string>
                <key>sourceSize</key>
                <string>{124,140}</string>
            </dict>
            <key>equipSite02.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,862},{114,132}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{116,140}</string>
            </dict>
            <key>equipSite03.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,209},{109,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{109,115}}</string>
                <key>sourceSize</key>
                <string>{111,119}</string>
            </dict>
            <key>equipSite04.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,435},{83,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,122}}</string>
                <key>sourceSize</key>
                <string>{85,122}</string>
            </dict>
            <key>equipSite05.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,862},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,138}}</string>
                <key>sourceSize</key>
                <string>{104,140}</string>
            </dict>
            <key>equipSite06.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,632},{81,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{81,83}}</string>
                <key>sourceSize</key>
                <string>{81,85}</string>
            </dict>
            <key>gen_hui_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,303},{188,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,59}}</string>
                <key>sourceSize</key>
                <string>{188,59}</string>
            </dict>
            <key>gener_banzi_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,4},{309,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,199}}</string>
                <key>sourceSize</key>
                <string>{309,199}</string>
            </dict>
            <key>gener_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,238},{188,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,59}}</string>
                <key>sourceSize</key>
                <string>{188,59}</string>
            </dict>
            <key>gener_red_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,316},{31,192}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,192}}</string>
                <key>sourceSize</key>
                <string>{33,198}</string>
            </dict>
            <key>icon_clothes.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,421},{66,72}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,19},{66,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_clothes_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,582},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_gf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,4},{293,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,35}}</string>
                <key>sourceSize</key>
                <string>{293,35}</string>
            </dict>
            <key>icon_kuang_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,444},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,467},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,353},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,535},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,421},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_kuang_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,330},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>icon_long_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,493},{80,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,71}}</string>
                <key>sourceSize</key>
                <string>{80,71}</string>
            </dict>
            <key>icon_peeping.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,574},{52,70}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{52,70}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_peeping_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,765},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,4},{56,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{56,68}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_ring_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,673},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_shoes.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,579},{48,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{48,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_shoes_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,633},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_trousers.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,674},{50,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{50,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_trousers_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,581},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_weapons.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,456},{60,60}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{60,60}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>icon_weapons_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,558},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{86,86}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>jingdutiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,128},{104,208}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{104,208}}</string>
                <key>sourceSize</key>
                <string>{106,210}</string>
            </dict>
            <key>jingdutiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,339},{76,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,161}}</string>
                <key>sourceSize</key>
                <string>{76,161}</string>
            </dict>
            <key>jingdutiao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,45},{227,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,77}}</string>
                <key>sourceSize</key>
                <string>{227,77}</string>
            </dict>
            <key>jingdutiao_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,620},{78,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,33}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>tielian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,368},{82,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,58}}</string>
                <key>sourceSize</key>
                <string>{82,58}</string>
            </dict>
            <key>tielian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,368},{61,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,124}}</string>
                <key>sourceSize</key>
                <string>{61,124}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_100.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c6041ba7b258a89090c7b9fc901772a:1/1$</string>
            <key>textureFileName</key>
            <string>Common_100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
