<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>g007_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,252},{190,236}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{190,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g008_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,770},{222,246}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{222,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g012_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,516},{210,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{210,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g015_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,516},{186,248}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{186,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g024_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{242,250}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{242,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g026_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,260},{216,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{216,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g032_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,260},{218,246}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{218,246}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g038_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,772},{232,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{232,248}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g041_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,4},{226,242}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,8},{226,242}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g044_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,512},{210,240}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{210,240}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g045_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,4},{200,232}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{200,232}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>g046_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,252},{190,236}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{190,236}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_307.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07744a289a349017addd7d82c2311b61:1/1$</string>
            <key>textureFileName</key>
            <string>Common_307.pvr.ccz</string>
        </dict>
    </dict>
</plist>
