<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ico107200.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,656},{366,480}}</string>
                <key>offset</key>
                <string>{43,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,109},{366,480}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107201.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1292},{410,408}}</string>
                <key>offset</key>
                <string>{54,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,178},{410,408}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107202.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1242},{220,430}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,120},{220,430}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107203.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,312},{196,460}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,95},{196,460}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107204.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{256,540}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,49},{256,540}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107205.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,4},{302,466}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,108},{302,466}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107206.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1028},{258,440}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,121},{258,440}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107207.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,266},{384,534}}</string>
                <key>offset</key>
                <string>{40,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,40},{384,534}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107208.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,920},{316,444}}</string>
                <key>offset</key>
                <string>{5,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,115},{316,444}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107209.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,514},{400,452}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,109},{400,452}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_202.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a1775570c1532faa52f2489807e8564:1/1$</string>
            <key>textureFileName</key>
            <string>Common_202.pvr.ccz</string>
        </dict>
    </dict>
</plist>
