<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_use_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{586,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,236}}</string>
                <key>sourceSize</key>
                <string>{586,236}</string>
            </dict>
            <key>skill_use_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,246},{586,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{586,236}}</string>
                <key>sourceSize</key>
                <string>{586,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_209.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d3770b5f7d8d97b145b3519336b3e6:3d5e8fd0d08374458f67ff5feed745a5:a16d99e9b618486b97b5677e27bb0e4f$</string>
            <key>textureFileName</key>
            <string>Common_209.pvr.ccz</string>
        </dict>
    </dict>
</plist>
