<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>throne_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{692,347}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{692,347}}</string>
                <key>sourceSize</key>
                <string>{694,347}</string>
            </dict>
            <key>throne_tower_302.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,357},{694,363}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,363}}</string>
                <key>sourceSize</key>
                <string>{694,363}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_302.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d982190bf0c7e35262c7823620c5d86:e3d206a63d282cc2a15910afe41edc58:163b2bc8e5e3c96df4c203b0f3d980ee$</string>
            <key>textureFileName</key>
            <string>Common_302.pvr.ccz</string>
        </dict>
    </dict>
</plist>
