<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>504_bigGoldRes.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,872},{136,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Alliance-anniudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,784},{112,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,59}}</string>
                <key>sourceSize</key>
                <string>{112,59}</string>
            </dict>
            <key>Alliance-biaotizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,748},{57,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,30}}</string>
                <key>sourceSize</key>
                <string>{57,30}</string>
            </dict>
            <key>Alliance-biaotou.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,656},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
            <key>Alliance-qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,656},{124,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,338}}</string>
                <key>sourceSize</key>
                <string>{124,338}</string>
            </dict>
            <key>Alliance-zhuzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,605},{45,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{45,371}}</string>
                <key>sourceSize</key>
                <string>{47,371}</string>
            </dict>
            <key>UI-lianmenglingdizhuangshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,545},{118,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{118,45}}</string>
                <key>sourceSize</key>
                <string>{118,47}</string>
            </dict>
            <key>add_alliance_tubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,4},{17,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>alliance_add_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{313,691}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{313,691}}</string>
                <key>sourceSize</key>
                <string>{315,693}</string>
            </dict>
            <key>alliance_add_flow.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,917},{40,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,63}}</string>
                <key>sourceSize</key>
                <string>{40,63}</string>
            </dict>
            <key>alliance_add_lin.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,811},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>alliance_add_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,629},{410,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,151}}</string>
                <key>sourceSize</key>
                <string>{410,151}</string>
            </dict>
            <key>alliance_add_sm_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,952},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>alliance_add_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,323},{554,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,133}}</string>
                <key>sourceSize</key>
                <string>{554,133}</string>
            </dict>
            <key>alliance_add_ya.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,933},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,15}}</string>
                <key>sourceSize</key>
                <string>{26,15}</string>
            </dict>
            <key>alliance_currentnum.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,786},{87,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>alliance_totalforce.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1032},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>city_gain_bar_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,450},{291,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,22}}</string>
                <key>sourceSize</key>
                <string>{291,22}</string>
            </dict>
            <key>city_gain_bar_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,158},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_bar_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,128},{11,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,24}}</string>
                <key>sourceSize</key>
                <string>{11,24}</string>
            </dict>
            <key>city_gain_txtbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,478},{329,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{329,32}}</string>
                <key>sourceSize</key>
                <string>{329,32}</string>
            </dict>
            <key>city_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,674},{104,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,115}}</string>
                <key>sourceSize</key>
                <string>{104,115}</string>
            </dict>
            <key>city_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,102},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>city_lianzi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,545},{26,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,40}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
            <key>def_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1074},{88,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{88,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>detail_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,462},{545,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,85}}</string>
                <key>sourceSize</key>
                <string>{545,85}</string>
            </dict>
            <key>formation_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,87},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,72},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,57},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,42},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,27},{9,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,13}}</string>
                <key>sourceSize</key>
                <string>{9,13}</string>
            </dict>
            <key>formation_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1032},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>formation_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1032},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>gather_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,963},{92,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>lianmeng_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,553},{544,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,31}}</string>
                <key>sourceSize</key>
                <string>{544,31}</string>
            </dict>
            <key>lianmeng_di_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,590},{539,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,33}}</string>
                <key>sourceSize</key>
                <string>{539,33}</string>
            </dict>
            <key>lianmeng_di_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,188},{16,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,547}}</string>
                <key>sourceSize</key>
                <string>{16,547}</string>
            </dict>
            <key>lianmeng_di_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,813},{508,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,33}}</string>
                <key>sourceSize</key>
                <string>{508,33}</string>
            </dict>
            <key>lianmeng_di_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,545},{535,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,26}}</string>
                <key>sourceSize</key>
                <string>{535,26}</string>
            </dict>
            <key>lianmeng_di_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,786},{163,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,125}}</string>
                <key>sourceSize</key>
                <string>{163,125}</string>
            </dict>
            <key>lianmeng_di_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,879},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>lianmeng_di_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,478},{256,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,61}}</string>
                <key>sourceSize</key>
                <string>{256,61}</string>
            </dict>
            <key>lianmeng_di_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,741},{23,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,60}}</string>
                <key>sourceSize</key>
                <string>{23,60}</string>
            </dict>
            <key>resource_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,976},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>storage_buff.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,937},{94,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>territory_bg_grass2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,786},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>territory_bg_res.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,545},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>territory_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,807},{16,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,120}}</string>
                <key>sourceSize</key>
                <string>{16,120}</string>
            </dict>
            <key>territory_building_lv0.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,463},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_building_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,323},{134,130}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{134,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_coord_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,450},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>territory_renderBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,629},{39,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,120}}</string>
                <key>sourceSize</key>
                <string>{39,120}</string>
            </dict>
            <key>territory_resource_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,786},{136,80}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{136,80}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_iron.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,876},{134,94}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{134,94}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,786},{136,84}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{136,84}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_resource_wood.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,917},{136,102}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{136,102}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_tower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,958},{68,130}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{68,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>territory_warehouse0.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,849},{130,82}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{130,82}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>warehouse_brown.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,164},{297,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,280}}</string>
                <key>sourceSize</key>
                <string>{297,280}</string>
            </dict>
            <key>zhezhao_yaoyiyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,4},{300,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,154}}</string>
                <key>sourceSize</key>
                <string>{300,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_504.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29104ac569c306376a1d9355ab213449:1/1$</string>
            <key>textureFileName</key>
            <string>Common_504.pvr.ccz</string>
        </dict>
    </dict>
</plist>
