<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>orignal_tile_allpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,428},{151,89}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,89}}</string>
                <key>sourceSize</key>
                <string>{151,95}</string>
            </dict>
            <key>quest_Area_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,616},{134,96}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{134,96}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Attack_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,953},{96,90}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{96,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Barrack_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,432},{138,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{138,104}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_BigCastle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{136,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{136,86}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Blacksmith_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{132,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{132,98}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Build_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,199},{61,78}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,78}}</string>
                <key>sourceSize</key>
                <string>{65,84}</string>
            </dict>
            <key>quest_Castle_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{136,86}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{136,86}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Chariot Plant_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,701},{132,90}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{132,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Collect_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,862},{127,89}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,89}}</string>
                <key>sourceSize</key>
                <string>{129,95}</string>
            </dict>
            <key>quest_College_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{138,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{138,80}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Defense_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1004},{86,90}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{86,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Depot_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,538},{134,114}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{134,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Drill Grounds_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,512},{138,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{138,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Drill-Grounds_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,730},{130,120}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{130,120}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Embassy_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,806},{132,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{132,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Farm_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,410},{138,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{138,108}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Food_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,479},{69,75}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{69,75}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_Fortress_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,895},{120,90}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{120,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Hall of War_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,922},{130,94}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{130,94}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Hospital_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,704},{134,100}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{134,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Iorn_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,624},{73,77}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,20},{73,77}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_Iron Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,611},{138,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{138,88}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Lord_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,520},{126,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Market_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,793},{128,100}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{128,100}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Merchante.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,978},{118,102}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{118,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Military Tent_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{136,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,33},{136,74}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Military-Tent_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,752},{132,120}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{132,120}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Mithril Mine_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,412},{138,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{138,84}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Mithril_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,172},{73,49}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{73,49}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_Monster0_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{128,116}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{128,116}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Monster1_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1018},{100,114}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{100,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Monster2_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,714},{132,84}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{132,84}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Monster3_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{134,98}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{134,98}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Output_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,519},{107,93}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{107,93}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_Range_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,519},{138,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{138,90}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Reclaim_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,703},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>quest_Research_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,247},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,67}}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>quest_Ruins_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,578},{136,124}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{136,124}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Sawmill_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{138,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{138,84}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Soldier_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,900},{118,102}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{118,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Stable_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,318},{138,112}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{138,112}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Torch_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,398},{45,83}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{45,83}}</string>
                <key>sourceSize</key>
                <string>{49,101}</string>
            </dict>
            <key>quest_Trap_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,777},{122,70}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,44},{122,70}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Turret_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,654},{80,134}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,1},{80,134}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Upgrade_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,316},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>quest_Walls_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,614},{104,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{104,114}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Watchtower_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,800},{98,126}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{98,126}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Wishing well_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,648},{134,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{134,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Wishing-well_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,860},{130,124}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{130,124}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_Wood_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,63},{69,55}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,41},{69,55}}</string>
                <key>sourceSize</key>
                <string>{115,97}</string>
            </dict>
            <key>quest_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,134},{36,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,53}</string>
            </dict>
            <key>quest_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>quest_biaojikedu.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,279},{28,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,19}}</string>
                <key>sourceSize</key>
                <string>{28,19}</string>
            </dict>
            <key>quest_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,556},{66,74}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{66,74}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>quest_cargo.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,901},{110,70}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,42},{110,70}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_club.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,498},{138,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{138,78}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_com_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,374},{92,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{92,23}}</string>
                <key>sourceSize</key>
                <string>{102,31}</string>
            </dict>
            <key>quest_di_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,268},{320,158}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,158}}</string>
                <key>sourceSize</key>
                <string>{320,162}</string>
            </dict>
            <key>quest_ditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,151}}</string>
                <key>sourceSize</key>
                <string>{640,151}</string>
            </dict>
            <key>quest_equip_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,987},{90,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>quest_gaojibaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>quest_gold_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,874},{130,102}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{130,102}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_icon_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,194},{122,111}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{122,111}}</string>
                <key>sourceSize</key>
                <string>{122,113}</string>
            </dict>
            <key>quest_jindutiao_xin.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,279},{198,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{198,29}}</string>
                <key>sourceSize</key>
                <string>{204,35}</string>
            </dict>
            <key>quest_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,155},{42,65}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,65}}</string>
                <key>sourceSize</key>
                <string>{44,65}</string>
            </dict>
            <key>quest_lab_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{460,76}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,76}}</string>
                <key>sourceSize</key>
                <string>{492,76}</string>
            </dict>
            <key>quest_merchante_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,736},{122,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,132}}</string>
                <key>sourceSize</key>
                <string>{122,132}</string>
            </dict>
            <key>quest_shuzidiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,300},{72,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,26}}</string>
                <key>sourceSize</key>
                <string>{72,26}</string>
            </dict>
            <key>quest_tiao_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,415},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>quest_tui_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{320,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,264}}</string>
                <key>sourceSize</key>
                <string>{320,264}</string>
            </dict>
            <key>quest_wb_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,272},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_wb_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{138,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>quest_wb_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,272},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>reward_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1009,398},{13,15}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{13,15}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>reward_box_diz.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,428},{172,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,82}}</string>
                <key>sourceSize</key>
                <string>{172,82}</string>
            </dict>
            <key>reward_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{573,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{573,37}}</string>
                <key>sourceSize</key>
                <string>{579,45}</string>
            </dict>
            <key>reward_op.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{59,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{59,56}}</string>
                <key>sourceSize</key>
                <string>{71,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_101.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9b00e741c6fd0b9ad3cc26fefcfa2fb:1/1$</string>
            <key>textureFileName</key>
            <string>Common_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
