<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,910},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,716},{264,255}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,255}}</string>
                <key>sourceSize</key>
                <string>{264,259}</string>
            </dict>
            <key>01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,841},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{557,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,222}}</string>
                <key>sourceSize</key>
                <string>{557,222}</string>
            </dict>
            <key>01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,539},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,877},{4,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,27}}</string>
                <key>sourceSize</key>
                <string>{4,27}</string>
            </dict>
            <key>Items_tips3_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,4},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>bottom_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>daily_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,614},{57,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{57,49}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>daily_box_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,474},{59,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{59,51}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>daily_box_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,403},{59,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{59,57}}</string>
                <key>sourceSize</key>
                <string>{67,63}</string>
            </dict>
            <key>daily_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,4},{150,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{150,94}}</string>
                <key>sourceSize</key>
                <string>{156,94}</string>
            </dict>
            <key>daily_exp_etc.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,452},{10,12}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{10,12}}</string>
                <key>sourceSize</key>
                <string>{20,18}</string>
            </dict>
            <key>daily_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,716},{188,19}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{188,19}}</string>
                <key>sourceSize</key>
                <string>{198,27}</string>
            </dict>
            <key>daily_h_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>daily_high_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,567},{5,19}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{5,19}}</string>
                <key>sourceSize</key>
                <string>{15,29}</string>
            </dict>
            <key>daily_hui_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,202},{123,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>daily_lazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,4},{86,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,192}}</string>
                <key>sourceSize</key>
                <string>{86,192}</string>
            </dict>
            <key>daily_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,4},{576,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{576,11}}</string>
                <key>sourceSize</key>
                <string>{594,23}</string>
            </dict>
            <key>daily_not_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,567},{144,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,143}}</string>
                <key>sourceSize</key>
                <string>{144,143}</string>
            </dict>
            <key>daily_quest_shape.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,597},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
            <key>daily_tiao_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,4},{564,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{564,32}}</string>
                <key>sourceSize</key>
                <string>{570,44}</string>
            </dict>
            <key>daily_yuan_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,586},{123,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,124}}</string>
                <key>sourceSize</key>
                <string>{125,124}</string>
            </dict>
            <key>dailyrwd_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,557},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>lef_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,331},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>left_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,560},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>left_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,709},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>new_jindutiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,755},{42,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>new_jindutiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,877},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>new_jindutiao_di01.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,195},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>new_jindutiao_di02.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,160},{87,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,29}}</string>
                <key>sourceSize</key>
                <string>{87,29}</string>
            </dict>
            <key>reward_color_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,557},{51,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,24}}</string>
                <key>sourceSize</key>
                <string>{51,24}</string>
            </dict>
            <key>reward_di_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,474},{75,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,77}}</string>
                <key>sourceSize</key>
                <string>{75,77}</string>
            </dict>
            <key>reward_icon_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,614},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>reward_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,986},{21,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,104}}</string>
                <key>sourceSize</key>
                <string>{21,104}</string>
            </dict>
            <key>reward_shen_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,288},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1013},{88,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{88,5}}</string>
                <key>sourceSize</key>
                <string>{88,11}</string>
            </dict>
            <key>right_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,980},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>right_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,679},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>right_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,980},{40,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,48}}</string>
                <key>sourceSize</key>
                <string>{40,48}</string>
            </dict>
            <key>soldier_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,803},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>soldier_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,986},{127,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,34}}</string>
                <key>sourceSize</key>
                <string>{127,34}</string>
            </dict>
            <key>soldier_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,403},{127,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,65}}</string>
                <key>sourceSize</key>
                <string>{127,65}</string>
            </dict>
            <key>soldier_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,332},{142,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,65}}</string>
                <key>sourceSize</key>
                <string>{142,65}</string>
            </dict>
            <key>soldier_jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,160},{33,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,10}}</string>
                <key>sourceSize</key>
                <string>{33,10}</string>
            </dict>
            <key>soldier_wenzikuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,567},{448,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,39}}</string>
                <key>sourceSize</key>
                <string>{448,39}</string>
            </dict>
            <key>soldier_wenzikuangshang.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,4},{442,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,12}}</string>
                <key>sourceSize</key>
                <string>{442,12}</string>
            </dict>
            <key>top_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,474},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_502.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43e78637f21347a38c36d6735df0d8da:1/1$</string>
            <key>textureFileName</key>
            <string>Common_502.pvr.ccz</string>
        </dict>
    </dict>
</plist>
