<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BaozhangBoxGlow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{154,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{154,61}}</string>
                <key>sourceSize</key>
                <string>{156,61}</string>
            </dict>
            <key>BaozhangBoxGlow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,4},{131,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,66}}</string>
                <key>sourceSize</key>
                <string>{133,66}</string>
            </dict>
            <key>BaozhangBox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,151},{217,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,254}}</string>
                <key>sourceSize</key>
                <string>{217,254}</string>
            </dict>
            <key>BaozhangBox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,151},{256,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,281}}</string>
                <key>sourceSize</key>
                <string>{256,281}</string>
            </dict>
            <key>BaozhangBox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,151},{296,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,295}}</string>
                <key>sourceSize</key>
                <string>{296,295}</string>
            </dict>
            <key>BaozhangGlow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,4},{177,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,89}}</string>
                <key>sourceSize</key>
                <string>{177,89}</string>
            </dict>
            <key>BaozhangGlow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,4},{157,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,141}}</string>
                <key>sourceSize</key>
                <string>{157,141}</string>
            </dict>
            <key>baozang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,452},{320,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,440}}</string>
                <key>sourceSize</key>
                <string>{320,440}</string>
            </dict>
            <key>baozang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,452},{258,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,515}}</string>
                <key>sourceSize</key>
                <string>{258,515}</string>
            </dict>
            <key>facebook_default_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_Record.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,4},{76,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{76,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>share_check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,4},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>share_check_box_checked.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_207.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9cd5c64f3f3f6d698c252823b656c2:3d19d0c56f326b365554b4d62277ad19:6468784efbc2713ab2949da43ca37842$</string>
            <key>textureFileName</key>
            <string>Common_207.pvr.ccz</string>
        </dict>
    </dict>
</plist>
