<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasure_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,480},{103,109}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,109}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,718},{103,101}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,113},{103,95}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{103,95}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,361},{104,101}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{104,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,123},{103,103}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,601},{93,111}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{93,111}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,244},{69,114}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{69,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,244},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,364},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>treasure_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,484},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,4},{67,114}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,361},{49,113}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{49,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,4},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,483},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,4},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,602},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,959},{59,113}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,361},{43,113}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,721},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,840},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,364},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,483},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,482},{51,113}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,242},{43,113}}</string>
                <key>offset</key>
                <string>{30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,0},{43,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,363},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,242},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,244},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,123},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,123},{41,113}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{55,114}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{55,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,604},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,724},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,124},{104,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{104,114}</string>
            </dict>
            <key>treasure_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,844},{103,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,124},{49,114}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,114}}</string>
                <key>sourceSize</key>
                <string>{103,114}</string>
            </dict>
            <key>treasure_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,840},{87,113}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,4},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,602},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,123},{104,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,113}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,721},{103,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,840},{91,113}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,113}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,4},{103,103}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,103}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,471},{103,99}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,595},{103,101}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,101}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,242},{104,101}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,101}}</string>
                <key>sourceSize</key>
                <string>{104,113}</string>
            </dict>
            <key>treasure_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,352},{103,99}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,232},{103,99}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,99}}</string>
                <key>sourceSize</key>
                <string>{103,113}</string>
            </dict>
            <key>treasure_shuru.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,953},{46,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,37}}</string>
                <key>sourceSize</key>
                <string>{46,37}</string>
            </dict>
            <key>treasuremap_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,827},{62,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{62,66}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>treasuremap_dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,959},{28,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,56}}</string>
                <key>sourceSize</key>
                <string>{30,58}</string>
            </dict>
            <key>treasuremap_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,4},{96,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,74}</string>
            </dict>
            <key>treasuremap_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,964},{56,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,91}}</string>
                <key>sourceSize</key>
                <string>{60,93}</string>
            </dict>
            <key>treasuremap_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,964},{56,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{56,93}}</string>
                <key>sourceSize</key>
                <string>{60,93}</string>
            </dict>
            <key>treasuremap_longkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,959},{52,70}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{52,70}}</string>
                <key>sourceSize</key>
                <string>{62,78}</string>
            </dict>
            <key>treasuremap_longkuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,4},{92,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,78}</string>
            </dict>
            <key>treasuremap_star-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,899},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>treasuremap_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,957},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>treasuremap_tanhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,899},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_508.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca96753f96d5abce0507aac3dacd2aae:b8bf45a157ddda322950836397bc0227:85de0d62f65f15836227aaf95c2335f0$</string>
            <key>textureFileName</key>
            <string>Common_508.pvr.ccz</string>
        </dict>
    </dict>
</plist>
