<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1212_double.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,22},{157,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,50}}</string>
                <key>sourceSize</key>
                <string>{157,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_507.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d87b08c04e20e70a9fc46f0b34950c8:d80d2463d3e0c3f21fcee98d5b1d8636:2cb2cdf131d607389dbfc18bd0cd47aa$</string>
            <key>textureFileName</key>
            <string>Common_507.pvr.ccz</string>
        </dict>
    </dict>
</plist>
