<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Forging_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,58},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>Forging_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,261},{626,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{626,90}}</string>
                <key>sourceSize</key>
                <string>{628,90}</string>
            </dict>
            <key>Forging_under.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,145},{634,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{634,110}}</string>
                <key>sourceSize</key>
                <string>{636,120}</string>
            </dict>
            <key>Forging_wall_an.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,123},{321,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,117}}</string>
                <key>sourceSize</key>
                <string>{321,117}</string>
            </dict>
            <key>Forging_wall_an1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,777},{158,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,45}}</string>
                <key>sourceSize</key>
                <string>{158,45}</string>
            </dict>
            <key>Forging_wall_an2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,246},{321,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,71}}</string>
                <key>sourceSize</key>
                <string>{321,71}</string>
            </dict>
            <key>Forging_wall_zhu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,777},{234,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,126}}</string>
                <key>sourceSize</key>
                <string>{234,126}</string>
            </dict>
            <key>Forging_wall_zhu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,102},{75,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,37}}</string>
                <key>sourceSize</key>
                <string>{75,37}</string>
            </dict>
            <key>Forging_wall_zhu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,730},{41,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,51}}</string>
                <key>sourceSize</key>
                <string>{41,51}</string>
            </dict>
            <key>Forging_wall_zhu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,610},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>IronIngot_Hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,881},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>Items_icon_kuang_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,777},{148,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,149}}</string>
                <key>sourceSize</key>
                <string>{148,149}</string>
            </dict>
            <key>Lord_equipment_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,777},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>Lord_equipment_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{325,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,113}}</string>
                <key>sourceSize</key>
                <string>{325,113}</string>
            </dict>
            <key>Lord_equipment_zhuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,357},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>Lord_equipment_zhuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,547},{52,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>Lord_equipment_zhuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,737},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>Lord_equipment_zhuzi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,777},{46,157}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,157}}</string>
                <key>sourceSize</key>
                <string>{50,157}</string>
            </dict>
            <key>Lord_icon_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,384},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>chain.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,605},{46,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,65}}</string>
                <key>sourceSize</key>
                <string>{46,65}</string>
            </dict>
            <key>chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,496},{20,122}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{20,122}}</string>
                <key>sourceSize</key>
                <string>{20,134}</string>
            </dict>
            <key>custom_camera.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,730},{50,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,40}}</string>
                <key>sourceSize</key>
                <string>{50,40}</string>
            </dict>
            <key>custom_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,881},{51,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,44}}</string>
                <key>sourceSize</key>
                <string>{51,44}</string>
            </dict>
            <key>diamond_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,657},{101,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,55}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>diamond_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,323},{103,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,55}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>diamond_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,706},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,53}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>diamond_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,599},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,53}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>diamond_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,492},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,53}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>diamond_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,967},{101,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,53}}</string>
                <key>sourceSize</key>
                <string>{103,55}</string>
            </dict>
            <key>gen_dizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,977},{588,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,41}}</string>
                <key>sourceSize</key>
                <string>{588,41}</string>
            </dict>
            <key>gen_dizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,183},{588,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{588,42}}</string>
                <key>sourceSize</key>
                <string>{588,42}</string>
            </dict>
            <key>gen_dizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,357},{12,570}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{12,570}}</string>
                <key>sourceSize</key>
                <string>{12,572}</string>
            </dict>
            <key>gen_dizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,357},{587,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,48}}</string>
                <key>sourceSize</key>
                <string>{587,48}</string>
            </dict>
            <key>gen_dizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,78}}</string>
                <key>sourceSize</key>
                <string>{640,78}</string>
            </dict>
            <key>gen_dizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,88},{640,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,51}}</string>
                <key>sourceSize</key>
                <string>{640,51}</string>
            </dict>
            <key>gener_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,357},{114,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,82}}</string>
                <key>sourceSize</key>
                <string>{114,82}</string>
            </dict>
            <key>gener_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,610},{114,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,82}}</string>
                <key>sourceSize</key>
                <string>{114,82}</string>
            </dict>
            <key>gener_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,522},{114,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,82}}</string>
                <key>sourceSize</key>
                <string>{114,82}</string>
            </dict>
            <key>gener_btn_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,477},{68,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{68,64}}</string>
                <key>sourceSize</key>
                <string>{70,74}</string>
            </dict>
            <key>gener_dot_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,694},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>gener_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,936},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>gener_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,477},{15,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,16}}</string>
                <key>sourceSize</key>
                <string>{15,16}</string>
            </dict>
            <key>gener_jiahao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,657},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>gener_txt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,31},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>gener_txt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,950},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>gener_txt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,748},{57,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,21}}</string>
                <key>sourceSize</key>
                <string>{57,21}</string>
            </dict>
            <key>gener_txt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,4},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>icon_.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,664},{51,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,52}}</string>
                <key>sourceSize</key>
                <string>{51,52}</string>
            </dict>
            <key>icon_box_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,813},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>iron_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,777},{194,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,92}}</string>
                <key>sourceSize</key>
                <string>{194,92}</string>
            </dict>
            <key>jindutiao_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,357},{385,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,20}}</string>
                <key>sourceSize</key>
                <string>{385,20}</string>
            </dict>
            <key>jindutiao_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,492},{505,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,75}}</string>
                <key>sourceSize</key>
                <string>{505,75}</string>
            </dict>
            <key>jindutiao_gerrn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,357},{385,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,20}}</string>
                <key>sourceSize</key>
                <string>{385,20}</string>
            </dict>
            <key>jindutiao_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,357},{374,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,20}}</string>
                <key>sourceSize</key>
                <string>{374,20}</string>
            </dict>
            <key>picture_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,323},{40,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,430}}</string>
                <key>sourceSize</key>
                <string>{40,430}</string>
            </dict>
            <key>picture_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,323},{41,500}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,500}}</string>
                <key>sourceSize</key>
                <string>{41,500}</string>
            </dict>
            <key>picture_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,941},{500,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,20}}</string>
                <key>sourceSize</key>
                <string>{500,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_305.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3eec9059ba3343c171680b26e6e59a7d:1/1$</string>
            <key>textureFileName</key>
            <string>Common_305.pvr.ccz</string>
        </dict>
    </dict>
</plist>
