<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>503_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,53},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>gener_info_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{303,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,139}}</string>
                <key>sourceSize</key>
                <string>{303,139}</string>
            </dict>
            <key>heng.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,5},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>hengtiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,150},{10,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,42}}</string>
                <key>sourceSize</key>
                <string>{10,42}</string>
            </dict>
            <key>huabian.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,198},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>medal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,670},{202,202}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{202,202}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,578},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,246},{190,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{190,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,792},{200,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{200,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,460},{196,204}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{196,204}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,429},{162,196}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{162,196}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,219},{204,194}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{204,194}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,460},{180,206}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{180,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,219},{180,194}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{180,194}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,364},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,5},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,5},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,792},{196,208}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,150},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,5},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>medal_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,878},{192,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,140}}</string>
                <key>sourceSize</key>
                <string>{192,140}</string>
            </dict>
            <key>zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,150},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_503.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92d2f8a968a178c7980b66f07998b10e:1/1$</string>
            <key>textureFileName</key>
            <string>Common_503.pvr.ccz</string>
        </dict>
    </dict>
</plist>
