<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_equip_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,4},{195,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,236}}</string>
                <key>sourceSize</key>
                <string>{195,236}</string>
            </dict>
            <key>BG_equip_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,219},{317,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,149}}</string>
                <key>sourceSize</key>
                <string>{317,149}</string>
            </dict>
            <key>BG_equip_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,545},{317,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,135}}</string>
                <key>sourceSize</key>
                <string>{317,135}</string>
            </dict>
            <key>BG_equip_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,213},{317,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,69}}</string>
                <key>sourceSize</key>
                <string>{317,69}</string>
            </dict>
            <key>Forging_tips_below.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,888},{288,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,68}}</string>
                <key>sourceSize</key>
                <string>{288,68}</string>
            </dict>
            <key>Forging_tips_below1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,962},{278,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,38}}</string>
                <key>sourceSize</key>
                <string>{278,38}</string>
            </dict>
            <key>Forging_tips_biaoti.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,701},{289,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,97}}</string>
                <key>sourceSize</key>
                <string>{289,97}</string>
            </dict>
            <key>Forging_tips_biaoti1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,275},{166,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,59}}</string>
                <key>sourceSize</key>
                <string>{166,59}</string>
            </dict>
            <key>Forging_tips_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,231},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>Forging_tips_kuang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,231},{48,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,134}}</string>
                <key>sourceSize</key>
                <string>{48,134}</string>
            </dict>
            <key>Forging_tips_kuang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,542},{313,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,2}}</string>
                <key>sourceSize</key>
                <string>{313,2}</string>
            </dict>
            <key>Forging_tips_m.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,542},{290,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,37}}</string>
                <key>sourceSize</key>
                <string>{290,37}</string>
            </dict>
            <key>Forging_tips_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,701},{290,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,86}}</string>
                <key>sourceSize</key>
                <string>{290,86}</string>
            </dict>
            <key>Forging_tips_top1.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,4},{183,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,11}}</string>
                <key>sourceSize</key>
                <string>{183,11}</string>
            </dict>
            <key>Hutch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,219},{320,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,36}}</string>
                <key>sourceSize</key>
                <string>{320,36}</string>
            </dict>
            <key>Hutch_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,642},{114,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,146}}</string>
                <key>sourceSize</key>
                <string>{114,146}</string>
            </dict>
            <key>Hutch_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,219},{646,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{646,22}}</string>
                <key>sourceSize</key>
                <string>{646,22}</string>
            </dict>
            <key>Hutch_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,263},{12,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,46}}</string>
                <key>sourceSize</key>
                <string>{12,46}</string>
            </dict>
            <key>Hutch_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,762},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>Hutch_shackel.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,205},{20,190}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,190}}</string>
                <key>sourceSize</key>
                <string>{26,192}</string>
            </dict>
            <key>Hutch_synthesis.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,499},{196,390}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{196,390}}</string>
                <key>sourceSize</key>
                <string>{198,394}</string>
            </dict>
            <key>Hutch_tu.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,4},{489,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,174}}</string>
                <key>sourceSize</key>
                <string>{489,174}</string>
            </dict>
            <key>Hutch_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,205},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>Hutch_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,863},{75,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,81}}</string>
                <key>sourceSize</key>
                <string>{75,81}</string>
            </dict>
            <key>ProductionBook_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,701},{148,189}}</string>
                <key>offset</key>
                <string>{66,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,11},{148,189}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,855},{136,189}}</string>
                <key>offset</key>
                <string>{66,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,11},{136,189}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,288},{160,203}}</string>
                <key>offset</key>
                <string>{77,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,2},{160,203}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{236,209}}</string>
                <key>offset</key>
                <string>{37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{236,209}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,4},{300,203}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{300,203}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,288},{308,193}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{308,193}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>ProductionBook_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,487},{300,181}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{300,181}}</string>
                <key>sourceSize</key>
                <string>{314,209}</string>
            </dict>
            <key>btn_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,454},{182,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{182,92}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>btn_equip_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,454},{182,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{182,92}}</string>
                <key>sourceSize</key>
                <string>{184,94}</string>
            </dict>
            <key>equip_comp_c_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,871},{158,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{158,147}}</string>
                <key>sourceSize</key>
                <string>{162,149}</string>
            </dict>
            <key>flag_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,962},{53,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,97}}</string>
                <key>sourceSize</key>
                <string>{53,97}</string>
            </dict>
            <key>focus_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,793},{251,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,89}}</string>
                <key>sourceSize</key>
                <string>{251,89}</string>
            </dict>
            <key>line_equip.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,219},{623,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{623,8}}</string>
                <key>sourceSize</key>
                <string>{623,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_306.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:020b7d8da65e9564a34d3f2bcdca58a5:1/1$</string>
            <key>textureFileName</key>
            <string>Common_306.pvr.ccz</string>
        </dict>
    </dict>
</plist>
