<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item414.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1546},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item415.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1452},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item416.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1572},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item417.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1566},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item418.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1560},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item419.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1470},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item420.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1352},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item421.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1462},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item422.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1446},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_600000.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1114},{126,102}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{126,102}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600100.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,148},{138,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600200.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,950},{134,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{134,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600300.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,286},{138,148}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{138,148}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600400.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,570},{138,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{138,124}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600500.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,436},{134,144}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{134,144}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600600.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,838},{130,134}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{130,134}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600700.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,4},{138,154}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600800.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,292},{128,144}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{128,144}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_600900.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1218},{124,124}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{124,124}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601000.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,430},{134,146}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{134,146}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601100.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,146},{138,154}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601200.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,842},{134,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{134,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601300.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,432},{138,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{138,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601400.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,568},{138,128}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{138,128}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601500.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,4},{138,158}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{138,158}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601600.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,984},{130,134}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,21},{130,134}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601700.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,4},{138,154}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601800.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,148},{132,152}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{132,152}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_601900.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,978},{126,132}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{126,132}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602000.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,4},{136,156}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,156}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602100.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1110},{126,120}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{126,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602200.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1344},{120,122}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{120,122}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602300.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,712},{134,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{134,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602400.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,612},{104,104}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{104,104}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602500.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,292},{138,146}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{138,146}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602600.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,412},{118,142}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{118,142}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_602700.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1348},{106,122}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{106,122}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_603103.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,1352},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_606201.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1362},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_606202.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1346},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_610000.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,700},{132,136}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610100.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1088},{126,124}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{126,124}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610200.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1120},{130,126}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{130,126}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610300.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,704},{132,136}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610400.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,574},{132,136}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,24},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610500.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,714},{136,128}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{136,128}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610600.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1106},{124,126}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{124,126}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{138,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,164}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610800.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,984},{126,124}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{126,124}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_610900.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,576},{136,132}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{136,132}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611000.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,864},{114,136}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,18},{114,136}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611100.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,560},{138,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611200.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,430},{138,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611300.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,974},{128,108}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,47},{128,108}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611400.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,536},{138,138}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{138,138}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611500.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,680},{138,130}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{138,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611600.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1100},{124,126}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{124,126}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611700.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,4},{138,162}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,162}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611800.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,974},{130,120}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,35},{130,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_611900.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,978},{128,122}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{128,122}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_612000.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,848},{134,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{134,124}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620000.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,280},{126,154}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{126,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620100.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,148},{138,148}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{138,148}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620200.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1086},{128,130}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{128,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620300.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,292},{134,146}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{134,146}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620400.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1236},{124,122}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{124,122}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620500.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,816},{128,136}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{128,136}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620600.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,848},{130,132}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{130,132}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620700.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,722},{136,120}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{136,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620800.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,148},{126,154}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{126,154}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_620900.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,148},{138,152}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,152}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621000.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,702},{134,130}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{134,130}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621100.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,290},{134,146}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,17},{134,146}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621200.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1230},{124,122}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{124,122}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621300.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,426},{128,140}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{128,140}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621400.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1222},{124,116}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{124,116}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621500.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,1236},{122,120}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{122,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621600.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1358},{110,102}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,47},{110,102}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621700.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1364},{108,102}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,47},{108,102}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621800.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,838},{130,132}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,24},{130,132}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_621900.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1220},{122,120}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{122,120}}</string>
                <key>sourceSize</key>
                <string>{138,164}</string>
            </dict>
            <key>skill2_622000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1562},{94,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_622100.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1252},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_622200.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1570},{92,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_650000.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1252},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_650205.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1472},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_650400.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1466},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_650403.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1460},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_650405.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,512},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>skill2_652205.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,412},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_105.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ca4b07ed1257dc6cb2ad8700bd975f0:1/1$</string>
            <key>textureFileName</key>
            <string>Common_105.pvr.ccz</string>
        </dict>
    </dict>
</plist>
