<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Angel.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,755},{182,241}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{182,241}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Blood.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,249},{212,239}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,239}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Cattle.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,4},{212,239}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{212,239}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Cure.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,182},{212,231}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{212,231}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Death.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,755},{214,239}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,239}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,192},{212,229}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{212,229}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>FireWolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,255},{162,245}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{162,245}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Grail.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,487},{210,231}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{210,231}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{162,245}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{162,245}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Ocean.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,4},{182,235}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{182,235}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,4},{172,227}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{172,227}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Spain.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,506},{210,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{210,243}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>SpainWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,410},{76,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,182}}</string>
                <key>sourceSize</key>
                <string>{76,182}</string>
            </dict>
            <key>Sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,492},{190,205}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{190,205}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Tree.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,737},{206,237}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{206,237}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Warhammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,724},{206,231}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{206,231}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>Wolf.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,494},{212,237}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{212,237}}</string>
                <key>sourceSize</key>
                <string>{214,245}</string>
            </dict>
            <key>light_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1002},{16,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{16,27}</string>
            </dict>
            <key>light_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,1002},{48,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,14}}</string>
                <key>sourceSize</key>
                <string>{48,14}</string>
            </dict>
            <key>light_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,4},{46,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,51}}</string>
                <key>sourceSize</key>
                <string>{46,51}</string>
            </dict>
            <key>light_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,980},{36,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,79}}</string>
                <key>sourceSize</key>
                <string>{36,79}</string>
            </dict>
            <key>light_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,61},{93,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,44}}</string>
                <key>sourceSize</key>
                <string>{93,44}</string>
            </dict>
            <key>light_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,419},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,55}}</string>
                <key>sourceSize</key>
                <string>{78,55}</string>
            </dict>
            <key>light_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,92},{99,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,53}}</string>
                <key>sourceSize</key>
                <string>{99,53}</string>
            </dict>
            <key>light_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,4},{103,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,82}}</string>
                <key>sourceSize</key>
                <string>{103,82}</string>
            </dict>
            <key>light_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,151},{87,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,84}}</string>
                <key>sourceSize</key>
                <string>{87,84}</string>
            </dict>
            <key>light_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,419},{61,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,82}}</string>
                <key>sourceSize</key>
                <string>{61,82}</string>
            </dict>
            <key>light_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,410},{55,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,77}}</string>
                <key>sourceSize</key>
                <string>{55,77}</string>
            </dict>
            <key>light_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,419},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_205.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35a12714fc4e6c656c95f6425a7f81b0:1/1$</string>
            <key>textureFileName</key>
            <string>Common_205.pvr.ccz</string>
        </dict>
    </dict>
</plist>
