<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Btn_Buy_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>Common513_Items_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,4},{54,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,38}}</string>
                <key>sourceSize</key>
                <string>{54,38}</string>
            </dict>
            <key>Common513_Items_tips3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,64},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>Gold_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,278},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>Gold_02_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,298},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>Gold_Hot_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,64},{208,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,28}}</string>
                <key>sourceSize</key>
                <string>{208,28}</string>
            </dict>
            <key>Gold_Title_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,345},{634,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,42}}</string>
                <key>sourceSize</key>
                <string>{634,42}</string>
            </dict>
            <key>Gold_frame_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,928},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>Gold_frame_02_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,439},{110,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{110,52}</string>
            </dict>
            <key>Gold_picture_frame_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,606},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Gold_picture_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,4},{600,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,326}}</string>
                <key>sourceSize</key>
                <string>{600,326}</string>
            </dict>
            <key>Icon_Gold_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,500},{102,78}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{102,78}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Icon_Gold_02_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,500},{100,62}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{100,62}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Icon_Gold_03_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,696},{106,66}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{106,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Icon_Gold_04_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,763},{108,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{108,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Icon_Gold_05_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,808},{108,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{108,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>Icon_Gold_06_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,928},{108,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{108,86}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>btn_blue_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>btn_green_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>button-lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>button-lingquhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>common513_youhuaBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,922},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>exchangeBtnPackage_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,559},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>fresh_recharge_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,633},{434,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{434,124}}</string>
                <key>sourceSize</key>
                <string>{434,124}</string>
            </dict>
            <key>gold_btn_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,959},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>gold_btn_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,439},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{156,55}</string>
            </dict>
            <key>gold_new_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,393},{288,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,40}}</string>
                <key>sourceSize</key>
                <string>{288,40}</string>
            </dict>
            <key>gold_new_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,500},{154,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,53}}</string>
                <key>sourceSize</key>
                <string>{154,53}</string>
            </dict>
            <key>gold_new_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,610},{312,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,143}}</string>
                <key>sourceSize</key>
                <string>{312,145}</string>
            </dict>
            <key>gold_new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,763},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>gold_new_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,959},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>guangbotiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,150},{638,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{638,189}}</string>
                <key>sourceSize</key>
                <string>{638,189}</string>
            </dict>
            <key>guanggaotu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,140}}</string>
                <key>sourceSize</key>
                <string>{640,140}</string>
            </dict>
            <key>noCoin_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,393},{560,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,326}}</string>
                <key>sourceSize</key>
                <string>{560,326}</string>
            </dict>
            <key>noCoin_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,763},{232,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,51}}</string>
                <key>sourceSize</key>
                <string>{232,51}</string>
            </dict>
            <key>yihuodedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,763},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_513.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99eb5be3bec581e1ba29b791ced662f2:1/1$</string>
            <key>textureFileName</key>
            <string>Common_513.pvr.ccz</string>
        </dict>
    </dict>
</plist>
