<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NEW_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1044},{640,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,100}}</string>
                <key>sourceSize</key>
                <string>{640,100}</string>
            </dict>
            <key>ReplayKit_Stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,188},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>Setting_Lobi_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1726},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>UI_Label_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,828},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>UI_snow.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1744},{78,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,53}}</string>
                <key>sourceSize</key>
                <string>{78,53}</string>
            </dict>
            <key>UI_yizengsong.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1860},{70,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>alliance_dail_quest_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1576},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>alliance_dail_quest_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,757},{90,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_dail_tool_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1141},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_dail_tool_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1041},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>alliance_leader_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,815},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>baoxiang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1789},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1564},{88,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1695},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1601},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1507},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,472},{88,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,86}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1413},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>baoxiang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1319},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,453},{220,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,40}}</string>
                <key>sourceSize</key>
                <string>{220,40}</string>
            </dict>
            <key>btn_chat_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,453},{53,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{53,52}}</string>
                <key>sourceSize</key>
                <string>{67,60}</string>
            </dict>
            <key>btn_chat_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,753},{38,56}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{38,56}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>btn_nonoce.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,701},{46,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{46,39}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>build_btn_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,419},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>build_btn_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,566},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,89}</string>
            </dict>
            <key>building_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,349},{64,64}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>c3_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,795},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>c3_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,18},{344,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{344,70}}</string>
                <key>sourceSize</key>
                <string>{346,70}</string>
            </dict>
            <key>c3_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,312},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>c3_jiahao.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,603},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>c3_jianhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,546},{51,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,43}}</string>
                <key>sourceSize</key>
                <string>{51,43}</string>
            </dict>
            <key>c3_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,279},{27,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,11}}</string>
                <key>sourceSize</key>
                <string>{27,11}</string>
            </dict>
            <key>chat_country_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1959},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>chat_country_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1883},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>chat_notice_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1880},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>chat_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,941},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>chat_notice_bgc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,1936},{30,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,52}}</string>
                <key>sourceSize</key>
                <string>{30,52}</string>
            </dict>
            <key>chat_notice_bgc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1690},{30,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,86}}</string>
                <key>sourceSize</key>
                <string>{30,86}</string>
            </dict>
            <key>chat_notice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,939},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>chat_notice_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,279},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>circle_bg_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,701},{134,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{134,134}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>color_c_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1470},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1364},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1258},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1152},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>color_c_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1046},{100,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,104}</string>
            </dict>
            <key>common3Google_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,100},{96,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,67}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>cs_jindu_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,230},{327,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,43}}</string>
                <key>sourceSize</key>
                <string>{327,47}</string>
            </dict>
            <key>cs_jindutiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,491},{255,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,9}}</string>
                <key>sourceSize</key>
                <string>{255,9}</string>
            </dict>
            <key>cs_jindutiaoBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,230},{255,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,9}}</string>
                <key>sourceSize</key>
                <string>{255,9}</string>
            </dict>
            <key>cs_jindutiao_tr.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1936},{28,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,55}}</string>
                <key>sourceSize</key>
                <string>{28,55}</string>
            </dict>
            <key>cs_txt_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,889},{71,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,36}}</string>
                <key>sourceSize</key>
                <string>{71,36}</string>
            </dict>
            <key>dragon_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,660},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>duanwei_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,610},{92,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{92,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,661},{90,88}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{90,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,857},{76,92}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{76,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,98},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{82,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1241},{72,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,1},{72,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>duanwei_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,18},{66,76}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{66,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>flay.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,94},{130,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,342}}</string>
                <key>sourceSize</key>
                <string>{130,342}</string>
            </dict>
            <key>fresh_recharge_rukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,708},{114,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,92}}</string>
                <key>sourceSize</key>
                <string>{114,92}</string>
            </dict>
            <key>gp_achievements.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,858},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{25,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>gp_leaderboards.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1995},{35,29}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,29}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>icon_clause.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,717},{60,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{60,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_google-play_.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,489},{88,63}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,63}}</string>
                <key>sourceSize</key>
                <string>{96,67}</string>
            </dict>
            <key>jj_bt_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,941},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>jj_btn_qiansan.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1757},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>kingAppointOffice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,934},{106,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{106,104}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>newTips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,499},{182,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,114}</string>
            </dict>
            <key>new_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,345},{195,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{195,43}}</string>
                <key>sourceSize</key>
                <string>{199,53}</string>
            </dict>
            <key>notice_close_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1726},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>princessTalkBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,818},{110,123}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{110,123}}</string>
                <key>sourceSize</key>
                <string>{128,133}</string>
            </dict>
            <key>res_bind_enter_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,276},{84,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>rongyuxunzhang_UP.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,752},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>settingTranslateImprove_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,372},{94,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>shouji_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1151},{57,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{57,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>shouji_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1074},{71,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,75}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>shouji_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1803},{71,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>shouji_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,202},{71,65}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{71,65}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>shouji_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1936},{49,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{49,53}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>shouji_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1997},{47,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{47,51}}</string>
                <key>sourceSize</key>
                <string>{71,75}</string>
            </dict>
            <key>soldier_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,323},{278,124}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{278,124}}</string>
                <key>sourceSize</key>
                <string>{292,128}</string>
            </dict>
            <key>soldier_star_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,704},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>tile_pop_icon35.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1654},{86,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{86,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>tile_pop_icon36.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,4},{82,88}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{82,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>title_level_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,841},{94,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,34}}</string>
                <key>sourceSize</key>
                <string>{94,34}</string>
            </dict>
            <key>tool_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,841},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_food_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1678},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_iron_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,512},{90,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_renwu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,279},{302,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{302,38}}</string>
                <key>sourceSize</key>
                <string>{302,58}</string>
            </dict>
            <key>ui_renwu_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{416,8}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{416,8}}</string>
                <key>sourceSize</key>
                <string>{416,10}</string>
            </dict>
            <key>ui_stone_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,980},{88,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{88,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ui_wood_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1474},{88,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{88,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>world_ziyuantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1214},{640,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,73}}</string>
                <key>sourceSize</key>
                <string>{640,73}</string>
            </dict>
            <key>yellow_btn_texuere.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,619},{179,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,76}}</string>
                <key>sourceSize</key>
                <string>{179,76}</string>
            </dict>
            <key>zhenying_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,650},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhenying_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,583},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_3.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9495b122f7ab3e8f7abb7f88a7da46f6:1/1$</string>
            <key>textureFileName</key>
            <string>Common_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
