<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diguangtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,434},{178,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,74}}</string>
                <key>sourceSize</key>
                <string>{178,74}</string>
            </dict>
            <key>huangseditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,532},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>huiseditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,434},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ico1070001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,704},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070002.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,904},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070003.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,804},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070004.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,704},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070021.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,904},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070022.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,804},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070023.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,704},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1070024.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,904},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,804},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071002.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,704},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,917},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071004.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,817},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071033.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,717},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1071034.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,817},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,717},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072002.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,817},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072003.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,717},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072004.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,618},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072021.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,618},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072022.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,519},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072023.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,588},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1072024.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,591},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,492},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073002.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,489},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073003.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,605},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,506},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073011.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,407},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073012.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,308},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073013.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,209},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>ico1073014.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,110},{93,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>jianbiantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,4},{160,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,2}}</string>
                <key>sourceSize</key>
                <string>{160,2}</string>
            </dict>
            <key>jiegukuangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,568},{29,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,52}}</string>
                <key>sourceSize</key>
                <string>{29,52}</string>
            </dict>
            <key>jiegukuangdizhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,588},{14,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,52}}</string>
                <key>sourceSize</key>
                <string>{14,52}</string>
            </dict>
            <key>redditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,358},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>rongyuxunzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,519},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>rongyuxunzhang_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,636},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>shengxingdiban.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,4},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>solder_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{556,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,348}}</string>
                <key>sourceSize</key>
                <string>{556,348}</string>
            </dict>
            <key>solder_bian.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,358},{25,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,125}}</string>
                <key>sourceSize</key>
                <string>{25,125}</string>
            </dict>
            <key>solder_dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,358},{228,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,70}}</string>
                <key>sourceSize</key>
                <string>{228,70}</string>
            </dict>
            <key>solder_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,358},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>solder_lab_dizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,358},{269,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,28}}</string>
                <key>sourceSize</key>
                <string>{269,28}</string>
            </dict>
            <key>solder_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,704},{290,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,41}}</string>
                <key>sourceSize</key>
                <string>{290,41}</string>
            </dict>
            <key>solder_txt_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>solder_xie.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1000},{290,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,19}}</string>
                <key>sourceSize</key>
                <string>{290,19}</string>
            </dict>
            <key>soldier_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,492},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,34}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>tianfudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,434},{142,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,52}}</string>
                <key>sourceSize</key>
                <string>{142,52}</string>
            </dict>
            <key>yellowditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,320},{336,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,310}}</string>
                <key>sourceSize</key>
                <string>{336,310}</string>
            </dict>
            <key>zongditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,4},{336,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,310}}</string>
                <key>sourceSize</key>
                <string>{336,310}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_510.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36fe841eeea52ac98310f28367499ab3:1/1$</string>
            <key>textureFileName</key>
            <string>Common_510.pvr.ccz</string>
        </dict>
    </dict>
</plist>
