<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>KIng_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,236},{141,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{141,348}}</string>
                <key>sourceSize</key>
                <string>{141,350}</string>
            </dict>
            <key>KIng_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,236},{161,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{161,245}}</string>
                <key>sourceSize</key>
                <string>{163,245}</string>
            </dict>
            <key>KIng_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
            <key>KIng_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,236},{163,164}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{163,164}}</string>
                <key>sourceSize</key>
                <string>{171,168}</string>
            </dict>
            <key>KIng_picture_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,99},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>KIng_picture_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,590},{68,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,360}}</string>
                <key>sourceSize</key>
                <string>{68,360}</string>
            </dict>
            <key>KIng_picture_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,590},{68,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,360}}</string>
                <key>sourceSize</key>
                <string>{68,360}</string>
            </dict>
            <key>KIng_picture_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,590},{313,406}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,406}}</string>
                <key>sourceSize</key>
                <string>{313,406}</string>
            </dict>
            <key>KIng_picture_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,99},{320,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{320,90}}</string>
                <key>sourceSize</key>
                <string>{320,92}</string>
            </dict>
            <key>KIng_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,4},{320,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,61}}</string>
                <key>sourceSize</key>
                <string>{320,63}</string>
            </dict>
            <key>KIng_title_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,4},{185,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,73}}</string>
                <key>sourceSize</key>
                <string>{185,73}</string>
            </dict>
            <key>WarBuild_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,236},{516,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,142}}</string>
                <key>sourceSize</key>
                <string>{516,142}</string>
            </dict>
            <key>WarBuild_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,4},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>WarBuild_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,99},{45,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,131}}</string>
                <key>sourceSize</key>
                <string>{45,131}</string>
            </dict>
            <key>WarBuild_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,4},{24,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,89}}</string>
                <key>sourceSize</key>
                <string>{24,89}</string>
            </dict>
            <key>WarBuild_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,99},{28,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,129}}</string>
                <key>sourceSize</key>
                <string>{28,129}</string>
            </dict>
            <key>WarBuild_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,4},{65,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,75}}</string>
                <key>sourceSize</key>
                <string>{65,75}</string>
            </dict>
            <key>WarBuild_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,99},{120,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{120,123}</string>
            </dict>
            <key>WarBuild_stone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,99},{302,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,94}}</string>
                <key>sourceSize</key>
                <string>{302,94}</string>
            </dict>
            <key>WarBuild_stone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,4},{50,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,69}}</string>
                <key>sourceSize</key>
                <string>{50,69}</string>
            </dict>
            <key>king_palace.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,4},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,56}}</string>
                <key>sourceSize</key>
                <string>{47,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_310.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3e133bf679d1a2daf655f2699e1d5a:80d22350e6208cc74f90958ef737c458:a0b24da353c53e94bf5276a81948c226$</string>
            <key>textureFileName</key>
            <string>Common_310.pvr.ccz</string>
        </dict>
    </dict>
</plist>
