<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Army_flag_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,646},{181,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,261}}</string>
                <key>sourceSize</key>
                <string>{181,261}</string>
            </dict>
            <key>Army_flag_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,320},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>Army_flag_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,733},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>Army_flag_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,170},{50,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,6}}</string>
                <key>sourceSize</key>
                <string>{50,6}</string>
            </dict>
            <key>ann_pic_beigongji.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{540,636},{484,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{484,230}}</string>
                <key>sourceSize</key>
                <string>{484,230}</string>
            </dict>
            <key>ann_pic_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,896},{372,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,437}}</string>
                <key>sourceSize</key>
                <string>{372,437}</string>
            </dict>
            <key>ann_pic_gongji.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{478,1156},{425,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{425,278}}</string>
                <key>sourceSize</key>
                <string>{425,278}</string>
            </dict>
            <key>ann_pic_jijie.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{573,4},{563,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,310}}</string>
                <key>sourceSize</key>
                <string>{563,310}</string>
            </dict>
            <key>ann_pic_shijie.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{1694,466},{501,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{501,337}}</string>
                <key>sourceSize</key>
                <string>{501,337}</string>
            </dict>
            <key>ann_pic_xianshihuodong.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{4,1601},{383,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,177}}</string>
                <key>sourceSize</key>
                <string>{383,177}</string>
            </dict>
            <key>ann_pic_xincheng.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{573,320},{535,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,310}}</string>
                <key>sourceSize</key>
                <string>{535,310}</string>
            </dict>
            <key>ann_pic_zhuanpan.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{563,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,419}}</string>
                <key>sourceSize</key>
                <string>{563,419}</string>
            </dict>
            <key>ico107000.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,872},{278,444}}</string>
                <key>offset</key>
                <string>{-50,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,134},{278,444}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1291},{304,398}}</string>
                <key>offset</key>
                <string>{-17,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,174},{304,398}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,4},{160,562}}</string>
                <key>offset</key>
                <string>{-3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,0},{160,562}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107003.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1601},{300,378}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,168},{300,378}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,429},{298,530}}</string>
                <key>offset</key>
                <string>{36,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,15},{298,530}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,646},{244,468}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,99},{244,468}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1001},{284,468}}</string>
                <key>offset</key>
                <string>{32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,105},{284,468}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107007.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,733},{262,480}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,85},{262,480}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,170},{470,546}}</string>
                <key>offset</key>
                <string>{72,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,10},{470,546}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>ico107009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,4},{332,456}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,97},{332,456}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>soliger_biaoti_tiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,783},{311,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,32}}</string>
                <key>sourceSize</key>
                <string>{311,32}</string>
            </dict>
            <key>soliger_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,429},{28,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,27}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>soliger_yun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,356},{33,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,18}}</string>
                <key>sourceSize</key>
                <string>{33,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_200.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e50984e6bdef95d4cbd9d401b1ae1123:1/1$</string>
            <key>textureFileName</key>
            <string>Common_200.pvr.ccz</string>
        </dict>
    </dict>
</plist>
