<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1349},{251,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,98}}</string>
                <key>sourceSize</key>
                <string>{251,98}</string>
            </dict>
            <key>2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,464},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,116}}</string>
                <key>sourceSize</key>
                <string>{116,116}</string>
            </dict>
            <key>2-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,534},{66,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,46}}</string>
                <key>sourceSize</key>
                <string>{66,46}</string>
            </dict>
            <key>2-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1349},{41,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,101}}</string>
                <key>sourceSize</key>
                <string>{41,101}</string>
            </dict>
            <key>2-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1289},{91,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,53}}</string>
                <key>sourceSize</key>
                <string>{91,53}</string>
            </dict>
            <key>2-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1289},{61,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,52}}</string>
                <key>sourceSize</key>
                <string>{61,52}</string>
            </dict>
            <key>2-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1962},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,80}}</string>
                <key>sourceSize</key>
                <string>{81,80}</string>
            </dict>
            <key>2-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,1731},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,164}}</string>
                <key>sourceSize</key>
                <string>{164,164}</string>
            </dict>
            <key>Flip_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,1899},{126,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,119}}</string>
                <key>sourceSize</key>
                <string>{126,119}</string>
            </dict>
            <key>IconGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,869},{156,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,156}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1349},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>Lock_color.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1288},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>alliance_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1190},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>arc_bg_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{220,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,600}}</string>
                <key>sourceSize</key>
                <string>{220,600}</string>
            </dict>
            <key>black.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1741},{195,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,275}}</string>
                <key>sourceSize</key>
                <string>{195,275}</string>
            </dict>
            <key>material_baoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1348},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>material_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1704},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>material_kelingqudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1899},{124,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{124,126}</string>
            </dict>
            <key>material_weilingqudikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,1344},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>science_cell_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,1559},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>science_cell_di_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,862},{166,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,162}}</string>
                <key>sourceSize</key>
                <string>{166,162}</string>
            </dict>
            <key>science_cell_lab_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,586},{223,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,37}}</string>
                <key>sourceSize</key>
                <string>{223,37}</string>
            </dict>
            <key>science_cell_qi_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1288},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>science_cell_qizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1190},{41,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{41,46}</string>
            </dict>
            <key>science_dizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1453},{282,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,234}}</string>
                <key>sourceSize</key>
                <string>{282,234}</string>
            </dict>
            <key>science_dizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1456},{331,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,358}}</string>
                <key>sourceSize</key>
                <string>{331,358}</string>
            </dict>
            <key>science_dizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,1239},{193,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,164}}</string>
                <key>sourceSize</key>
                <string>{193,164}</string>
            </dict>
            <key>science_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,814},{184,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,183}}</string>
                <key>sourceSize</key>
                <string>{184,183}</string>
            </dict>
            <key>science_lab.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,262},{228,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,36}}</string>
                <key>sourceSize</key>
                <string>{228,36}</string>
            </dict>
            <key>science_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,534},{140,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,70}}</string>
                <key>sourceSize</key>
                <string>{140,70}</string>
            </dict>
            <key>science_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,875},{140,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,69}}</string>
                <key>sourceSize</key>
                <string>{140,69}</string>
            </dict>
            <key>science_lion.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,1903},{121,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,138}}</string>
                <key>sourceSize</key>
                <string>{121,138}</string>
            </dict>
            <key>science_pan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,814},{202,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,84}}</string>
                <key>sourceSize</key>
                <string>{202,84}</string>
            </dict>
            <key>science_pan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1333,1811},{177,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,179}}</string>
                <key>sourceSize</key>
                <string>{177,179}</string>
            </dict>
            <key>science_pan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1344},{91,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,216}}</string>
                <key>sourceSize</key>
                <string>{91,216}</string>
            </dict>
            <key>science_pan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1625},{180,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,179}}</string>
                <key>sourceSize</key>
                <string>{180,179}</string>
            </dict>
            <key>science_pan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1022},{211,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,88}}</string>
                <key>sourceSize</key>
                <string>{211,88}</string>
            </dict>
            <key>science_pan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1376},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>science_pan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1253},{85,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,221}}</string>
                <key>sourceSize</key>
                <string>{85,221}</string>
            </dict>
            <key>science_pan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1438},{181,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,174}}</string>
                <key>sourceSize</key>
                <string>{181,174}</string>
            </dict>
            <key>science_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,832},{184,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,183}}</string>
                <key>sourceSize</key>
                <string>{184,183}</string>
            </dict>
            <key>science_yuan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1455},{147,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,295}}</string>
                <key>sourceSize</key>
                <string>{147,295}</string>
            </dict>
            <key>science_yuan_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,610},{211,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,417}}</string>
                <key>sourceSize</key>
                <string>{211,417}</string>
            </dict>
            <key>science_yuan_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1033},{206,417}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,417}}</string>
                <key>sourceSize</key>
                <string>{206,417}</string>
            </dict>
            <key>skill_fly_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,466},{129,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,129}}</string>
                <key>sourceSize</key>
                <string>{129,129}</string>
            </dict>
            <key>technologyGlow.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,496},{32,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,64}}</string>
                <key>sourceSize</key>
                <string>{32,64}</string>
            </dict>
            <key>technology_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1190},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>technology_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,586},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>technology_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1033},{310,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,310}}</string>
                <key>sourceSize</key>
                <string>{310,310}</string>
            </dict>
            <key>technology_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1756},{286,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,286}}</string>
                <key>sourceSize</key>
                <string>{286,286}</string>
            </dict>
            <key>technology_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,875},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>technology_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1004},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tips_bg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1756},{20,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,25}}</string>
                <key>sourceSize</key>
                <string>{20,25}</string>
            </dict>
            <key>xy_tx_down_01_00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,604},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,604},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,534},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,269},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,4},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,269},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,4},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,610},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,610},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,269},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00010_.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,4},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_down_01_00011_.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,610},{259,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,64}}</string>
                <key>sourceSize</key>
                <string>{259,64}</string>
            </dict>
            <key>xy_tx_left_01_00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,4},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,233},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,4},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,235},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,1670},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,1441},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1670},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1441},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1820},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1820},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00010_.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1820},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_left_01_00011_.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1820},{86,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,223}}</string>
                <key>sourceSize</key>
                <string>{86,223}</string>
            </dict>
            <key>xy_tx_right_01_00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1672},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1441},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1022},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1022},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,601},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,601},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,4},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,235},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,4},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,235},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00010_.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,4},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_right_01_00011_.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,262},{87,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,225}}</string>
                <key>sourceSize</key>
                <string>{87,225}</string>
            </dict>
            <key>xy_tx_up_01_00000_.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,4},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00001_.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,262},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00002_.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,4},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00003_.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1704},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00004_.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1446},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00005_.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1446},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00006_.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1030},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00007_.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1030},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00008_.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,604},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00009_.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1031},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00010_.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,1031},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>xy_tx_up_01_00011_.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,604},{252,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,61}}</string>
                <key>sourceSize</key>
                <string>{252,61}</string>
            </dict>
            <key>zhuangshi-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1782},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>zhuangshi-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,466},{42,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Common_4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:642c9bbb2f902ad933292bae2d197f1d:1/1$</string>
            <key>textureFileName</key>
            <string>Common_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
