<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Christmas_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{604,627}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,627}}</string>
                <key>sourceSize</key>
                <string>{604,627}</string>
            </dict>
            <key>Christmas_face_Effect_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,637},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Christmas_face.pvr.ccz</string>
            <key>size</key>
            <string>{612,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c839d2b3524008b10f8366ecb69933:1/1$</string>
            <key>textureFileName</key>
            <string>Christmas_face.pvr.ccz</string>
        </dict>
    </dict>
</plist>
