<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_xinshouyindao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,987},{346,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,13}}</string>
                <key>sourceSize</key>
                <string>{346,13}</string>
            </dict>
            <key>UI_xinshouyindao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{591,281}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,281}}</string>
                <key>sourceSize</key>
                <string>{595,281}</string>
            </dict>
            <key>UI_xinshouyindao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,291},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>UI_xinshouyindao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,291},{36,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>guide_archer.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,4},{334,418}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{334,418}}</string>
                <key>sourceSize</key>
                <string>{350,422}</string>
            </dict>
            <key>guide_hei.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,4},{334,418}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{334,418}}</string>
                <key>sourceSize</key>
                <string>{350,422}</string>
            </dict>
            <key>guide_infantry.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,291},{282,438}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,438}}</string>
                <key>sourceSize</key>
                <string>{316,438}</string>
            </dict>
            <key>guide_messenger.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,579},{370,402}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{370,402}}</string>
                <key>sourceSize</key>
                <string>{370,438}</string>
            </dict>
            <key>guide_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,4},{334,418}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{334,418}}</string>
                <key>sourceSize</key>
                <string>{350,422}</string>
            </dict>
            <key>reinforcements.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,579},{360,431}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{360,431}}</string>
                <key>sourceSize</key>
                <string>{376,437}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_100.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61a29a08bfb243c26f2883a0af0b714f:1/1$</string>
            <key>textureFileName</key>
            <string>General_100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
