<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>general_101_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,117}}</string>
                <key>sourceSize</key>
                <string>{84,117}</string>
            </dict>
            <key>general_101_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{79,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,111}}</string>
                <key>sourceSize</key>
                <string>{79,111}</string>
            </dict>
            <key>general_101_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,115},{89,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,106}}</string>
                <key>sourceSize</key>
                <string>{89,106}</string>
            </dict>
            <key>general_101_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{99,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,113}}</string>
                <key>sourceSize</key>
                <string>{99,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>General_101.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e53a977b4fcd1ecd48474766a5d815:1/1$</string>
            <key>textureFileName</key>
            <string>General_101.pvr.ccz</string>
        </dict>
    </dict>
</plist>
