<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1111_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,5},{640,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,80}}</string>
                <key>sourceSize</key>
                <string>{640,82}</string>
            </dict>
            <key>1111_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,145},{90,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,116}}</string>
                <key>sourceSize</key>
                <string>{90,116}</string>
            </dict>
            <key>1111_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,145},{90,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,107}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>1111_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,182},{238,34}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,34}}</string>
                <key>sourceSize</key>
                <string>{238,38}</string>
            </dict>
            <key>1111_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,145},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>1111_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,182},{173,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,58}}</string>
                <key>sourceSize</key>
                <string>{173,58}</string>
            </dict>
            <key>1111_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,145},{88,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,75}}</string>
                <key>sourceSize</key>
                <string>{88,75}</string>
            </dict>
            <key>1111_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,184},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>1111_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,182},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>1111_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,116},{121,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,139}}</string>
                <key>sourceSize</key>
                <string>{121,139}</string>
            </dict>
            <key>1111_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,116},{484,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{484,60}}</string>
                <key>sourceSize</key>
                <string>{486,60}</string>
            </dict>
            <key>1111_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,101},{640,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,9}}</string>
                <key>sourceSize</key>
                <string>{640,9}</string>
            </dict>
            <key>1111_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,91},{640,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,48}}</string>
                <key>sourceSize</key>
                <string>{640,48}</string>
            </dict>
            <key>1111_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,145},{23,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,33}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>1111_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,145},{141,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,80}}</string>
                <key>sourceSize</key>
                <string>{141,80}</string>
            </dict>
            <key>1111_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{640,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,90}}</string>
                <key>sourceSize</key>
                <string>{640,90}</string>
            </dict>
            <key>icon_duilie_bg_spe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,145},{94,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,110}}</string>
                <key>sourceSize</key>
                <string>{94,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_res_2.pvr.ccz</string>
            <key>size</key>
            <string>{1316,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82b2feb1e770159047b6597653e61ce4:1/1$</string>
            <key>textureFileName</key>
            <string>ui_res_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
