<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Chat01_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,5},{640,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,56}}</string>
                <key>sourceSize</key>
                <string>{640,56}</string>
            </dict>
            <key>UI_Gold_Btn_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,651},{90,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,106}}</string>
                <key>sourceSize</key>
                <string>{90,106}</string>
            </dict>
            <key>UI_Label_BG_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{640,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,94}}</string>
                <key>sourceSize</key>
                <string>{640,94}</string>
            </dict>
            <key>UI_xiyuantiao_new_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,651},{320,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,50}}</string>
                <key>sourceSize</key>
                <string>{320,50}</string>
            </dict>
            <key>cb_bar_bg_1_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,651},{302,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{302,78}}</string>
                <key>sourceSize</key>
                <string>{306,78}</string>
            </dict>
            <key>g001_h_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,763},{72,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{72,74}}</string>
                <key>sourceSize</key>
                <string>{90,74}</string>
            </dict>
            <key>icon_Chat_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,959},{52,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,46}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>world_ziyuantiao_line_spe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,5},{640,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,23}}</string>
                <key>sourceSize</key>
                <string>{640,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_res_1.pvr.ccz</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:639e9fdb0e8244f81d0cd4e3e4a36513:1/1$</string>
            <key>textureFileName</key>
            <string>ui_res_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
