pcnt=11
p1=Blingbling_gift,80,80,1
p2=Blingbling_left,-25,160,1
p3=Blingbling_middle,113,45,1
p4=Blingbling_right,325,150,1
p5=Blingbling_star,-25,273,1
p6=Blingbling_gift,80,80,1
p7=Blingbling_left,-25,160,1
p8=Blingbling_middle,113,45,1
p9=Blingbling_right,325,150,1
p10=Blingbling_star,-25,273,1
p11=ChristmasSkin_out,100,250,1
bpt=0|0|Effect_0030.png
skcnt=1
sk1=sk_shengdanxuejing_out,-130,0,1,0