<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_CN_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,200},{94,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_Christmas_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,104},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_ChunJie_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,102},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_DE_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,200},{88,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{88,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_Halloween_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_JP_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,384},{86,82}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{86,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>icon_XiangLong_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,102},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item017.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,824},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item018.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,794},{64,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item019.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,760},{64,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item020.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,757},{64,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item021.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,700},{64,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item022.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,640},{64,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>item023.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,554},{80,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item025.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item026.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,556},{88,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{88,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item027.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,750},{84,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item028.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,748},{84,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item029.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,552},{86,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{86,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item030.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,736},{84,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item031.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,572},{84,90}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{84,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item032.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,202},{94,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{94,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item033.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,370},{92,88}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{92,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item034.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,290},{90,92}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item412.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,662},{88,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{88,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item627.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,478},{90,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{90,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item628.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item629.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item631.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,286},{94,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item632.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,288},{94,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item633.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item634.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item635.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item636.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,904},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item637.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,804},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item638.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,704},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item639.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,604},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item640.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,548},{84,72}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{84,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item641.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,554},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,15},{80,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item642.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,286},{94,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item643.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,662},{80,88}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{80,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item644.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,476},{90,90}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{90,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item645.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,464},{82,92}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item646.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,838},{68,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{68,68}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item647.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,610},{70,86}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,8},{70,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item648.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,384},{90,74}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{90,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item649.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,574},{90,82}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{90,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item650.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,686},{84,68}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,26},{84,68}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item651.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,462},{80,86}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{80,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item652.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,200},{90,94}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item653.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,104},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item654.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,504},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item655.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,290},{90,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{90,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item656.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,404},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item657.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,644},{86,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>item658.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,464},{90,86}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{90,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item659.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,648},{84,84}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item660.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,546},{86,72}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,20},{86,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item661.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,620},{84,84}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{84,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item662.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,710},{82,78}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{82,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item663.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,104},{94,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item664.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,104},{94,90}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{94,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item665.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,370},{88,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{88,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item666.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,202},{94,78}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item667.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,304},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item668.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,104},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item669.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,370},{94,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item670.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,292},{86,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item671.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,202},{82,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{82,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item672.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,200},{86,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{86,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item673.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,530},{86,74}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{86,74}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item674.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,528},{88,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item675.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,438},{88,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item676.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,386},{92,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item677.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,202},{94,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item678.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,384},{72,88}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{72,88}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item679.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,204},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item680.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,368},{94,62}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{94,62}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item681.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,840},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{64,64}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item682.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,699},{52,72}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{52,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item683.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,826},{60,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,12},{60,70}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item684.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,640},{60,56}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{60,56}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item685.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,626},{68,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{68,72}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item686.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,910},{62,60}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{62,60}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item687.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,296},{94,68}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{94,68}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item688.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,294},{94,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item689.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,294},{94,84}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,84}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item690.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,104},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>item691.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>kit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,472},{84,76}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{84,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>kit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,464},{86,76}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{86,76}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>lazhu001.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,624},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>rongyu_Tilt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,738},{80,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{80,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_CN_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,202},{94,80}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{94,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_Christmas_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,104},{92,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_ChunJie_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,4},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_DE_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,386},{84,92}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_Halloween_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,104},{92,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_JP_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,436},{92,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{92,86}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>zhanshi_icon_XiangLong_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,4},{94,92}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>goods.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91f2cebf4c18a67a281871cccf29f04b:1/1$</string>
            <key>textureFileName</key>
            <string>goods.pvr.ccz</string>
        </dict>
    </dict>
</plist>
