<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_57034_ad1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{640,357}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,357}}</string>
                <key>sourceSize</key>
                <string>{640,357}</string>
            </dict>
            <key>t_Ativity_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,4},{640,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,22}}</string>
                <key>sourceSize</key>
                <string>{640,24}</string>
            </dict>
            <key>t_Btn_Buy_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,652},{190,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,54}}</string>
                <key>sourceSize</key>
                <string>{190,54}</string>
            </dict>
            <key>t_Commond7_AllianceWar_Title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,652},{82,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,64}}</string>
                <key>sourceSize</key>
                <string>{82,64}</string>
            </dict>
            <key>t_Gold_frame_01_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,468},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>t_Gold_picture_frame_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,650},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>t_Items_tips3_lottery.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,4},{278,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,2}}</string>
                <key>sourceSize</key>
                <string>{278,2}</string>
            </dict>
            <key>t_activity1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,314},{48,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,102}}</string>
                <key>sourceSize</key>
                <string>{48,102}</string>
            </dict>
            <key>t_activity1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,650},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>t_activity1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,566},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>t_btn_blue_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,848},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>t_btn_green_gold_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,722},{152,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,68}}</string>
                <key>sourceSize</key>
                <string>{152,68}</string>
            </dict>
            <key>t_common7_youhuaBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,368},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>t_middle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,4},{304,102}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{304,102}}</string>
                <key>sourceSize</key>
                <string>{310,102}</string>
            </dict>
            <key>t_yihuodedi.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,848},{166,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,62}}</string>
                <key>sourceSize</key>
                <string>{166,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb36047ac8f0b26b8cd4ce205872e035:1/1$</string>
            <key>textureFileName</key>
            <string>1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
