<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>absolutePosition</key>
	<false/>
	<key>angle</key>
	<real>0.0</real>
	<key>angleVariance</key>
	<real>0.0</real>
	<key>blendFuncDestination</key>
	<integer>1</integer>
	<key>blendFuncSource</key>
	<integer>1</integer>
	<key>configName</key>
	<string>DragonBattleRewards_win_1</string>
	<key>duration</key>
	<string>-1.00</string>
	<key>emitterType</key>
	<string>0</string>
	<key>finishColorAlpha</key>
	<real>0.0</real>
	<key>finishColorBlue</key>
	<real>0.0</real>
	<key>finishColorGreen</key>
	<real>0.0</real>
	<key>finishColorRed</key>
	<real>0.0</real>
	<key>finishColorVarianceAlpha</key>
	<string>0.00</string>
	<key>finishColorVarianceBlue</key>
	<string>0.00</string>
	<key>finishColorVarianceGreen</key>
	<string>0.00</string>
	<key>finishColorVarianceRed</key>
	<string>0.00</string>
	<key>finishParticleSize</key>
	<real>250</real>
	<key>finishParticleSizeVariance</key>
	<string>15.00</string>
	<key>gravityx</key>
	<string>0.00</string>
	<key>gravityy</key>
	<real>0.0</real>
	<key>maxParticles</key>
	<string>5</string>
	<key>maxRadius</key>
	<string>0.00</string>
	<key>maxRadiusVariance</key>
	<string>0.00</string>
	<key>minRadius</key>
	<string>300.00</string>
	<key>minRadiusVariance</key>
	<string>0.00</string>
	<key>particleLifespan</key>
	<string>2.0000</string>
	<key>particleLifespanVariance</key>
	<string>0.5000</string>
	<key>positionType</key>
	<integer>0</integer>
	<key>radialAccelVariance</key>
	<string>0.00</string>
	<key>radialAcceleration</key>
	<string>0.00</string>
	<key>rotatePerSecond</key>
	<string>360.00</string>
	<key>rotatePerSecondVariance</key>
	<string>0.00</string>
	<key>rotationEnd</key>
	<string>0.00</string>
	<key>rotationEndVariance</key>
	<string>15.00</string>
	<key>rotationStart</key>
	<string>0.00</string>
	<key>rotationStartVariance</key>
	<string>15.00</string>
	<key>sourcePositionVariancex</key>
	<string>5.00</string>
	<key>sourcePositionVariancey</key>
	<string>0.00</string>
	<key>speed</key>
	<string>0.00</string>
	<key>speedVariance</key>
	<string>0.00</string>
	<key>startColorAlpha</key>
	<string>1.00</string>
	<key>startColorBlue</key>
	<string>0.47</string>
	<key>startColorGreen</key>
	<string>0.82</string>
	<key>startColorRed</key>
	<string>0.91</string>
	<key>startColorVarianceAlpha</key>
	<string>0.00</string>
	<key>startColorVarianceBlue</key>
	<string>0.00</string>
	<key>startColorVarianceGreen</key>
	<string>0.00</string>
	<key>startColorVarianceRed</key>
	<string>0.00</string>
	<key>startParticleSize</key>
	<string>0.00</string>
	<key>startParticleSizeVariance</key>
	<string>15.00</string>
	<key>tangentialAccelVariance</key>
	<real>0.0</real>
	<key>tangentialAcceleration</key>
	<real>0.0</real>
	<key>textureFileName</key>
	<string>Effect_0065.png</string>
	<key>textureImageData</key>
	<string></string>
	<key>yCoordFlipped</key>
	<integer>1</integer>
</dict>
</plist>
