<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FAQ_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{4,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,1}}</string>
                <key>sourceSize</key>
                <string>{4,1}</string>
            </dict>
            <key>Loading_bar_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,45},{97,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,42}}</string>
                <key>sourceSize</key>
                <string>{97,42}</string>
            </dict>
            <key>Notice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,317},{623,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{623,99}}</string>
                <key>sourceSize</key>
                <string>{625,99}</string>
            </dict>
            <key>Notice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,122},{585,83}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{585,83}}</string>
                <key>sourceSize</key>
                <string>{625,83}</string>
            </dict>
            <key>Notice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,213},{609,98}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{609,98}}</string>
                <key>sourceSize</key>
                <string>{625,102}</string>
            </dict>
            <key>Notice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,45},{72,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,43}}</string>
                <key>sourceSize</key>
                <string>{72,43}</string>
            </dict>
            <key>Notice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,317},{52,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,179}}</string>
                <key>sourceSize</key>
                <string>{52,179}</string>
            </dict>
            <key>Notice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,45},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>btn_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,45},{175,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,68}}</string>
                <key>sourceSize</key>
                <string>{175,68}</string>
            </dict>
            <key>cloud_ani.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,733},{913,427}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{913,427}}</string>
                <key>sourceSize</key>
                <string>{913,427}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,733},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>loading_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,4},{419,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{419,26}}</string>
                <key>sourceSize</key>
                <string>{429,34}</string>
            </dict>
            <key>loading_bar_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,4},{567,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{567,35}}</string>
                <key>sourceSize</key>
                <string>{567,47}</string>
            </dict>
            <key>loading_notice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,122},{231,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,78}}</string>
                <key>sourceSize</key>
                <string>{231,78}</string>
            </dict>
            <key>loading_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,4},{419,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{419,26}}</string>
                <key>sourceSize</key>
                <string>{425,30}</string>
            </dict>
            <key>loading_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,122},{617,85}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{617,85}}</string>
                <key>sourceSize</key>
                <string>{627,89}</string>
            </dict>
            <key>login_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,45},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>login_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,213},{374,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,90}}</string>
                <key>sourceSize</key>
                <string>{374,90}</string>
            </dict>
            <key>login_btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,45},{104,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,45}}</string>
                <key>sourceSize</key>
                <string>{104,45}</string>
            </dict>
            <key>login_liantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,45},{13,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,58}}</string>
                <key>sourceSize</key>
                <string>{13,58}</string>
            </dict>
            <key>login_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,4},{109,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,27}}</string>
                <key>sourceSize</key>
                <string>{109,27}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,317},{601,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{601,410}}</string>
                <key>sourceSize</key>
                <string>{601,410}</string>
            </dict>
            <key>serverlist_bar_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,45},{150,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,37}}</string>
                <key>sourceSize</key>
                <string>{150,37}</string>
            </dict>
            <key>serverlist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,45},{604,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,52}}</string>
                <key>sourceSize</key>
                <string>{604,52}</string>
            </dict>
            <key>serverlist_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,45},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
            <key>serverlist_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,45},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>serverlist_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,45},{56,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Loading_2.pvr.ccz</string>
            <key>size</key>
            <string>{1567,1873}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:531f261435154071d5b8f1aa7c948b4f:1/1$</string>
            <key>textureFileName</key>
            <string>Loading_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
