<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inner_risk_10_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_11_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_12_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_1_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_2_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_3_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_4_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_5_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_6_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_7_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_8_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
            <key>inner_risk_9_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,114}}</string>
                <key>sourceSize</key>
                <string>{161,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Imperial_0_hd.pvr.ccz</string>
            <key>size</key>
            <string>{990,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41313a4dd2f69591f8daba4767f8c262:1/1$</string>
            <key>textureFileName</key>
            <string>Imperial_0_hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
