<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_map_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,5},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{18,28}</string>
            </dict>
            <key>forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,444},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>minimap_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{884,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{884,518}}</string>
                <key>sourceSize</key>
                <string>{884,518}</string>
            </dict>
            <key>minimap_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,756},{882,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,221}}</string>
                <key>sourceSize</key>
                <string>{882,221}</string>
            </dict>
            <key>minimap_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,529},{882,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{882,221}}</string>
                <key>sourceSize</key>
                <string>{882,221}</string>
            </dict>
            <key>minimap_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,1507},{518,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,518}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>minimap_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,983},{518,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{518,518}}</string>
                <key>sourceSize</key>
                <string>{518,518}</string>
            </dict>
            <key>minimap_Cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,5},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>minimap_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,704},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>minimap_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,548},{150,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,126}}</string>
                <key>sourceSize</key>
                <string>{150,126}</string>
            </dict>
            <key>minimap_serBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,252},{290,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,30}}</string>
                <key>sourceSize</key>
                <string>{290,30}</string>
            </dict>
            <key>position_alli.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,444},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>position_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,391},{47,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,80}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>position_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,338},{47,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,80}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>position_territory.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,252},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>relic_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,107},{139,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,94}}</string>
                <key>sourceSize</key>
                <string>{139,94}</string>
            </dict>
            <key>resource_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,983},{432,220}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{432,220}}</string>
                <key>sourceSize</key>
                <string>{436,224}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>miniMapView.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c943812307ab428d9efd1cfba8bd6ac2:1/1$</string>
            <key>textureFileName</key>
            <string>miniMapView.pvr.ccz</string>
        </dict>
    </dict>
</plist>
