<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_b24.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{398,335}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,335}}</string>
                <key>sourceSize</key>
                <string>{398,335}</string>
            </dict>
            <key>dragon_b26.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,5},{379,255}}</string>
                <key>offset</key>
                <string>{-7,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{379,255}}</string>
                <key>sourceSize</key>
                <string>{393,367}</string>
            </dict>
            <key>dragon_b28.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,266},{363,249}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{363,249}}</string>
                <key>sourceSize</key>
                <string>{377,267}</string>
            </dict>
            <key>dragon_b30.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,506},{181,166}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,166}}</string>
                <key>sourceSize</key>
                <string>{187,172}</string>
            </dict>
            <key>dragon_b31.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,506},{180,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,148}}</string>
                <key>sourceSize</key>
                <string>{180,148}</string>
            </dict>
            <key>dragon_b32.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,456},{184,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,143}}</string>
                <key>sourceSize</key>
                <string>{184,143}</string>
            </dict>
            <key>dragon_b33.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,240},{210,222}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,222}}</string>
                <key>sourceSize</key>
                <string>{214,226}</string>
            </dict>
            <key>dragon_b34.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,5},{229,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,222}}</string>
                <key>sourceSize</key>
                <string>{229,222}</string>
            </dict>
            <key>dragon_b36.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,346},{255,154}}</string>
                <key>offset</key>
                <string>{-8,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,79},{255,154}}</string>
                <key>sourceSize</key>
                <string>{277,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_building.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3af0799a785f310706bedb2ce362f0:1/1$</string>
            <key>textureFileName</key>
            <string>dragon_building.pvr.ccz</string>
        </dict>
    </dict>
</plist>
