<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lion.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,825},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>Lion_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,430},{372,395}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{372,395}}</string>
                <key>sourceSize</key>
                <string>{372,437}</string>
            </dict>
            <key>meidusha.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,677},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>meidusha_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,691},{300,289}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,74},{300,289}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>nangua.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,529},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>nangua_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,363},{322,283}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,83},{322,283}}</string>
                <key>sourceSize</key>
                <string>{372,437}</string>
            </dict>
            <key>renzhe_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,529},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>renzhe_0_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,5},{300,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,352}}</string>
                <key>sourceSize</key>
                <string>{300,352}</string>
            </dict>
            <key>renzhe_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,831},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>renzhe_1_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,5},{292,330}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{292,330}}</string>
                <key>sourceSize</key>
                <string>{300,352}</string>
            </dict>
            <key>scws.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,831},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>scws_bust.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,5},{372,419}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,419}}</string>
                <key>sourceSize</key>
                <string>{372,437}</string>
            </dict>
            <key>worldBossMailMonster.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,303},{290,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,220}}</string>
                <key>sourceSize</key>
                <string>{290,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monsterLayer.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54a85448411658abbbcfaf2b148b48f6:1/1$</string>
            <key>textureFileName</key>
            <string>monsterLayer.pvr.ccz</string>
        </dict>
    </dict>
</plist>
