<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_map_Arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,212},{20,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,17}}</string>
                <key>sourceSize</key>
                <string>{20,17}</string>
            </dict>
            <key>forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1918},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,36}</string>
            </dict>
            <key>mini_icon_city_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,777},{47,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,37}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>mini_icon_city_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,851},{44,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,33}}</string>
                <key>sourceSize</key>
                <string>{44,33}</string>
            </dict>
            <key>mini_icon_city_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,814},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,37}</string>
            </dict>
            <key>mini_icon_city_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,662},{50,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,35}}</string>
                <key>sourceSize</key>
                <string>{50,35}</string>
            </dict>
            <key>mini_icon_city_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1721},{57,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,42}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>mini_icon_copycat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,192},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>mini_icon_myCity.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,172},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>minimap_Cover.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1966},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>minimap_serBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1556},{239,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,30}}</string>
                <key>sourceSize</key>
                <string>{239,30}</string>
            </dict>
            <key>position_alli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2019,351},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
            <key>position_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,884},{41,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,58}}</string>
                <key>sourceSize</key>
                <string>{41,58}</string>
            </dict>
            <key>position_lord.png</key>
            <dict>
                <key>frame</key>
                <string>{{1997,697},{47,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,80}}</string>
                <key>sourceSize</key>
                <string>{47,80}</string>
            </dict>
            <key>position_territory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1061},{80,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,87}}</string>
                <key>sourceSize</key>
                <string>{80,87}</string>
            </dict>
            <key>relic_city.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1309},{139,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,94}}</string>
                <key>sourceSize</key>
                <string>{139,94}</string>
            </dict>
            <key>resource_belt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1185},{432,220}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{432,220}}</string>
                <key>sourceSize</key>
                <string>{436,224}</string>
            </dict>
            <key>world_MapBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1716,860}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{1716,860}}</string>
                <key>sourceSize</key>
                <string>{1722,860}</string>
            </dict>
            <key>world_region_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1167},{142,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,101}}</string>
                <key>sourceSize</key>
                <string>{142,101}</string>
            </dict>
            <key>world_region_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1966},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,63}}</string>
                <key>sourceSize</key>
                <string>{125,63}</string>
            </dict>
            <key>world_region_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1029,1671},{132,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,119}}</string>
                <key>sourceSize</key>
                <string>{132,119}</string>
            </dict>
            <key>world_region_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,966},{163,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,113}}</string>
                <key>sourceSize</key>
                <string>{163,113}</string>
            </dict>
            <key>world_region_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1961},{146,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,87}}</string>
                <key>sourceSize</key>
                <string>{146,87}</string>
            </dict>
            <key>world_region_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,662},{281,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,83}}</string>
                <key>sourceSize</key>
                <string>{281,83}</string>
            </dict>
            <key>world_region_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,860},{135,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,97}}</string>
                <key>sourceSize</key>
                <string>{135,97}</string>
            </dict>
            <key>world_region_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,860},{128,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,74}}</string>
                <key>sourceSize</key>
                <string>{128,74}</string>
            </dict>
            <key>world_region_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,860},{150,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,81}}</string>
                <key>sourceSize</key>
                <string>{150,81}</string>
            </dict>
            <key>world_region_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,967},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>world_region_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,0},{328,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,172}}</string>
                <key>sourceSize</key>
                <string>{328,172}</string>
            </dict>
            <key>world_region_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1790},{121,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,118}}</string>
                <key>sourceSize</key>
                <string>{121,118}</string>
            </dict>
            <key>world_region_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,860},{131,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,74}}</string>
                <key>sourceSize</key>
                <string>{131,74}</string>
            </dict>
            <key>world_region_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,1586},{189,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,131}}</string>
                <key>sourceSize</key>
                <string>{189,131}</string>
            </dict>
            <key>world_region_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,974},{212,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,101}}</string>
                <key>sourceSize</key>
                <string>{212,101}</string>
            </dict>
            <key>world_region_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1309},{138,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,96}}</string>
                <key>sourceSize</key>
                <string>{138,96}</string>
            </dict>
            <key>world_region_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,745},{279,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,168}}</string>
                <key>sourceSize</key>
                <string>{279,168}</string>
            </dict>
            <key>world_region_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,860},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>world_region_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1165},{191,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,112}}</string>
                <key>sourceSize</key>
                <string>{191,112}</string>
            </dict>
            <key>world_region_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,946},{176,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,115}}</string>
                <key>sourceSize</key>
                <string>{176,115}</string>
            </dict>
            <key>world_region_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1548},{206,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,123}}</string>
                <key>sourceSize</key>
                <string>{206,123}</string>
            </dict>
            <key>world_region_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1061},{157,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,92}}</string>
                <key>sourceSize</key>
                <string>{157,92}</string>
            </dict>
            <key>world_region_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1764},{129,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,154}}</string>
                <key>sourceSize</key>
                <string>{129,154}</string>
            </dict>
            <key>world_region_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,860},{172,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,79}}</string>
                <key>sourceSize</key>
                <string>{172,79}</string>
            </dict>
            <key>world_region_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1963},{137,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,83}}</string>
                <key>sourceSize</key>
                <string>{137,83}</string>
            </dict>
            <key>world_region_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1966},{114,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,71}}</string>
                <key>sourceSize</key>
                <string>{114,71}</string>
            </dict>
            <key>world_region_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,934},{152,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,114}}</string>
                <key>sourceSize</key>
                <string>{152,114}</string>
            </dict>
            <key>world_region_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1153},{103,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,110}}</string>
                <key>sourceSize</key>
                <string>{103,110}</string>
            </dict>
            <key>world_region_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1277},{191,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,110}}</string>
                <key>sourceSize</key>
                <string>{191,110}</string>
            </dict>
            <key>world_region_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1405},{206,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,151}}</string>
                <key>sourceSize</key>
                <string>{206,151}</string>
            </dict>
            <key>world_region_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1853},{162,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,131}}</string>
                <key>sourceSize</key>
                <string>{162,131}</string>
            </dict>
            <key>world_region_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1405},{138,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,162}}</string>
                <key>sourceSize</key>
                <string>{138,162}</string>
            </dict>
            <key>world_region_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,860},{203,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,107}}</string>
                <key>sourceSize</key>
                <string>{203,107}</string>
            </dict>
            <key>world_region_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1721},{188,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,132}}</string>
                <key>sourceSize</key>
                <string>{188,132}</string>
            </dict>
            <key>world_region_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1963},{121,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,83}}</string>
                <key>sourceSize</key>
                <string>{121,83}</string>
            </dict>
            <key>world_region_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,1717},{136,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,129}}</string>
                <key>sourceSize</key>
                <string>{136,129}</string>
            </dict>
            <key>world_region_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,1079},{144,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,88}}</string>
                <key>sourceSize</key>
                <string>{144,88}</string>
            </dict>
            <key>world_region_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1057},{195,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,108}}</string>
                <key>sourceSize</key>
                <string>{195,108}</string>
            </dict>
            <key>world_region_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1156},{174,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,153}}</string>
                <key>sourceSize</key>
                <string>{174,153}</string>
            </dict>
            <key>world_region_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,1918},{165,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,129}}</string>
                <key>sourceSize</key>
                <string>{165,129}</string>
            </dict>
            <key>world_region_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1784},{200,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,182}}</string>
                <key>sourceSize</key>
                <string>{200,182}</string>
            </dict>
            <key>world_region_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1403},{229,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,145}}</string>
                <key>sourceSize</key>
                <string>{229,145}</string>
            </dict>
            <key>world_region_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1846},{191,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,128}}</string>
                <key>sourceSize</key>
                <string>{191,128}</string>
            </dict>
            <key>world_region_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1405},{181,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,183}}</string>
                <key>sourceSize</key>
                <string>{181,183}</string>
            </dict>
            <key>world_region_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,526},{300,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>world_region_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1784},{216,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,177}}</string>
                <key>sourceSize</key>
                <string>{216,177}</string>
            </dict>
            <key>world_region_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1405},{153,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,191}}</string>
                <key>sourceSize</key>
                <string>{153,191}</string>
            </dict>
            <key>world_region_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1061},{206,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,108}}</string>
                <key>sourceSize</key>
                <string>{206,108}</string>
            </dict>
            <key>world_region_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1908},{181,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,116}}</string>
                <key>sourceSize</key>
                <string>{181,116}</string>
            </dict>
            <key>world_region_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,942},{351,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,243}}</string>
                <key>sourceSize</key>
                <string>{351,243}</string>
            </dict>
            <key>world_region_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,942},{195,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,214}}</string>
                <key>sourceSize</key>
                <string>{195,214}</string>
            </dict>
            <key>world_region_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,860},{165,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,106}}</string>
                <key>sourceSize</key>
                <string>{165,106}</string>
            </dict>
            <key>world_region_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,1588},{227,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,176}}</string>
                <key>sourceSize</key>
                <string>{227,176}</string>
            </dict>
            <key>world_region_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1643,913},{339,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{339,98}}</string>
                <key>sourceSize</key>
                <string>{339,98}</string>
            </dict>
            <key>world_region_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1844},{179,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,119}}</string>
                <key>sourceSize</key>
                <string>{179,119}</string>
            </dict>
            <key>world_region_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1271,957},{125,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,92}}</string>
                <key>sourceSize</key>
                <string>{125,92}</string>
            </dict>
            <key>world_region_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,860},{233,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,114}}</string>
                <key>sourceSize</key>
                <string>{233,114}</string>
            </dict>
            <key>world_region_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,351},{303,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,175}}</string>
                <key>sourceSize</key>
                <string>{303,175}</string>
            </dict>
            <key>world_region_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1586},{212,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,135}}</string>
                <key>sourceSize</key>
                <string>{212,135}</string>
            </dict>
            <key>world_region_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1717},{160,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,127}}</string>
                <key>sourceSize</key>
                <string>{160,127}</string>
            </dict>
            <key>world_region_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,172},{306,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,179}}</string>
                <key>sourceSize</key>
                <string>{306,179}</string>
            </dict>
            <key>world_region_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1596},{260,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,188}}</string>
                <key>sourceSize</key>
                <string>{260,188}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_9.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d333b26b4f7051bb9e8b92fbc68ca0:1/1$</string>
            <key>textureFileName</key>
            <string>World_9.pvr.ccz</string>
        </dict>
    </dict>
</plist>
