<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,0},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,140},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,280},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,420},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,560},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,700},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,840},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,980},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1120},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0111.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0113.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1536,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,1260},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1400},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0117.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1400},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1400},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0119.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1400},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
            <key>0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1400},{256,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,140}}</string>
                <key>sourceSize</key>
                <string>{256,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db8dea1d441b5cc1cff50e2ffadc7a40:1/1$</string>
            <key>textureFileName</key>
            <string>World_4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
