<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>world_map1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,0},{1037,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1037,530}}</string>
                <key>sourceSize</key>
                <string>{1037,530}</string>
            </dict>
            <key>world_map2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1515,564}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1515,564}}</string>
                <key>sourceSize</key>
                <string>{1515,564}</string>
            </dict>
            <key>world_map3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,1290},{1018,498}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1018,498}}</string>
                <key>sourceSize</key>
                <string>{1018,498}</string>
            </dict>
            <key>world_map4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1290},{1025,651}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1025,651}}</string>
                <key>sourceSize</key>
                <string>{1025,651}</string>
            </dict>
            <key>world_map5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{1228,726}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1228,726}}</string>
                <key>sourceSize</key>
                <string>{1228,726}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_10.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5a7bffc441d131320d798b71825e4aa:1/1$</string>
            <key>textureFileName</key>
            <string>World_10.pvr.ccz</string>
        </dict>
    </dict>
</plist>
