<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>world_mapBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,728},{560,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{560,307}}</string>
                <key>sourceSize</key>
                <string>{560,307}</string>
            </dict>
            <key>world_mapBg10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1326},{486,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,199}}</string>
                <key>sourceSize</key>
                <string>{486,199}</string>
            </dict>
            <key>world_mapBg11.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1831},{335,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,156}}</string>
                <key>sourceSize</key>
                <string>{335,156}</string>
            </dict>
            <key>world_mapBg12.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1812},{378,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,168}}</string>
                <key>sourceSize</key>
                <string>{378,168}</string>
            </dict>
            <key>world_mapBg13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1326},{414,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,177}}</string>
                <key>sourceSize</key>
                <string>{414,177}</string>
            </dict>
            <key>world_mapBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,568},{798,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,324}}</string>
                <key>sourceSize</key>
                <string>{798,324}</string>
            </dict>
            <key>world_mapBg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1035},{551,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,291}}</string>
                <key>sourceSize</key>
                <string>{551,291}</string>
            </dict>
            <key>world_mapBg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1277},{554,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,367}}</string>
                <key>sourceSize</key>
                <string>{554,367}</string>
            </dict>
            <key>world_mapBg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,0},{656,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{656,405}}</string>
                <key>sourceSize</key>
                <string>{656,405}</string>
            </dict>
            <key>world_mapBg6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,568},{709,418}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{709,418}}</string>
                <key>sourceSize</key>
                <string>{709,418}</string>
            </dict>
            <key>world_mapBg7.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,405},{568,323}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,323}}</string>
                <key>sourceSize</key>
                <string>{568,323}</string>
            </dict>
            <key>world_mapBg8.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1366},{589,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{589,277}}</string>
                <key>sourceSize</key>
                <string>{589,277}</string>
            </dict>
            <key>world_mapBg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1366},{580,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,238}}</string>
                <key>sourceSize</key>
                <string>{580,238}</string>
            </dict>
            <key>world_mapMinBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{640,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,568}}</string>
                <key>sourceSize</key>
                <string>{640,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>World_12.pvr.ccz</string>
            <key>size</key>
            <string>{1310,1987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce8f3f5a6fb1f5f167e7414ada9863cc:1/1$</string>
            <key>textureFileName</key>
            <string>World_12.pvr.ccz</string>
        </dict>
    </dict>
</plist>
