<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>revive1.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,80},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>revive2.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,270},{109,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,137}}</string>
                <key>sourceSize</key>
                <string>{109,137}</string>
            </dict>
            <key>revive3.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{260,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,147}}</string>
                <key>sourceSize</key>
                <string>{260,147}</string>
            </dict>
            <key>tile_pop_icon1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,4},{70,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{70,90}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>revive_world.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc0050245c1deb9d0ad6e54236fb72e:1/1$</string>
            <key>textureFileName</key>
            <string>revive_world.pvr.ccz</string>
        </dict>
    </dict>
</plist>
