<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fuhuo_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,775},{260,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,68}}</string>
                <key>sourceSize</key>
                <string>{260,68}</string>
            </dict>
            <key>fuhuo_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,944},{80,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,92}}</string>
                <key>sourceSize</key>
                <string>{80,92}</string>
            </dict>
            <key>fuhuo_Jlzy_di_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,102},{20,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,38}}</string>
                <key>sourceSize</key>
                <string>{22,42}</string>
            </dict>
            <key>fuhuo_activity_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,4},{38,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,92}}</string>
                <key>sourceSize</key>
                <string>{38,92}</string>
            </dict>
            <key>fuhuo_beijingtu.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{593,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{593,361}}</string>
                <key>sourceSize</key>
                <string>{593,361}</string>
            </dict>
            <key>fuhuo_bg-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,371},{347,160}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,160}}</string>
                <key>sourceSize</key>
                <string>{371,160}</string>
            </dict>
            <key>fuhuo_btn_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,825},{113,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,92}}</string>
                <key>sourceSize</key>
                <string>{115,92}</string>
            </dict>
            <key>fuhuo_huang-huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,823},{229,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,316}}</string>
                <key>sourceSize</key>
                <string>{229,316}</string>
            </dict>
            <key>fuhuo_huang.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,296},{286,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,372}}</string>
                <key>sourceSize</key>
                <string>{286,372}</string>
            </dict>
            <key>fuhuo_icon_kulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,905},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>fuhuo_icon_prop.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1030},{69,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,84}}</string>
                <key>sourceSize</key>
                <string>{69,84}</string>
            </dict>
            <key>fuhuo_lazhu-guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,701},{202,247}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{202,247}}</string>
                <key>sourceSize</key>
                <string>{238,323}</string>
            </dict>
            <key>fuhuo_lazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,604},{102,123}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{102,123}}</string>
                <key>sourceSize</key>
                <string>{120,135}</string>
            </dict>
            <key>fuhuo_leftbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,537},{232,324}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,324}}</string>
                <key>sourceSize</key>
                <string>{240,324}</string>
            </dict>
            <key>fuhuo_leftbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,366},{232,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,33}}</string>
                <key>sourceSize</key>
                <string>{232,33}</string>
            </dict>
            <key>fuhuo_lv-ren.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,588},{229,316}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,316}}</string>
                <key>sourceSize</key>
                <string>{229,316}</string>
            </dict>
            <key>fuhuo_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,4},{286,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,372}}</string>
                <key>sourceSize</key>
                <string>{286,372}</string>
            </dict>
            <key>fuhuo_rightbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,371},{232,324}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{232,324}}</string>
                <key>sourceSize</key>
                <string>{240,324}</string>
            </dict>
            <key>fuhuo_rightbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,128},{232,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,33}}</string>
                <key>sourceSize</key>
                <string>{232,33}</string>
            </dict>
            <key>fuhuo_wenben-bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,909},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,60}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>fuhuo_zhangshi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,855},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>fuhuo_zhangshi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,912},{23,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>fuhuo_zhuzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,849},{126,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,133}}</string>
                <key>sourceSize</key>
                <string>{126,133}</string>
            </dict>
            <key>fuhuo_zhuzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,981},{52,65}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,65}}</string>
                <key>sourceSize</key>
                <string>{58,65}</string>
            </dict>
            <key>fuhuo_zhuzi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,849},{29,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,32}}</string>
                <key>sourceSize</key>
                <string>{29,32}</string>
            </dict>
            <key>revive_Ranking.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,1035},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>revive_Ranking1.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,884},{69,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,29}}</string>
                <key>sourceSize</key>
                <string>{69,29}</string>
            </dict>
            <key>revive_Ranking2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,775},{74,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,55}}</string>
                <key>sourceSize</key>
                <string>{74,55}</string>
            </dict>
            <key>revive_Ranking3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,849},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>revive_Ranking4.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,981},{73,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,48}}</string>
                <key>sourceSize</key>
                <string>{73,48}</string>
            </dict>
            <key>revive_icon_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,733},{86,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{86,100}}</string>
                <key>sourceSize</key>
                <string>{86,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>revive.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36c8e112603a60a277c832baef658a6:1/1$</string>
            <key>textureFileName</key>
            <string>revive.pvr.ccz</string>
        </dict>
    </dict>
</plist>
